<div class="detailfilter detailfilter-cupboard">
    <div class="main section">
        <div class="section-heading">Стиль</div>
        <ul class="option" data-filter-group="cupboard-style">
            <li>
                <button class="all" data-filter="">Все</button>
            </li>
            <li>
                <button class="modern" data-filter=".cupboard-modern">Современные</button>
            </li>
            <li>
                <button class="classic" data-filter=".cupboard-classic">Классические</button>
            </li>
            <li>
                <button class="neo" data-filter=".cupboard-neo">Неоклассика</button>
            </li>
            <li>
                <button class="design" data-filter=".cupboard-design">Дизайнерские</button>
            </li>
        </ul>
    </div>
    <div class="doors section">
        <div class="section-heading">Тип открывания дверей</div>
        <ul data-filter-group="cupboard-door">
            <li>
                <button class="all" data-filter="">Все</button>
            </li>
            <li>
                <button class="coupe" data-filter=".cupboard-coupe">Купе</button>
            </li>
            <li>
                <button class="swing" data-filter=".cupboard-swing">Распашные</button>
            </li>
            <li>
                <button class="folding" data-filter=".cupboard-folding">Складные</button>
            </li>
        </ul>
    </div>
</div>

<div class="catalog__list" style="">
    <div class="catalog__item mix cupboard cupboard-classic cupboard-swing">
        <a data-caption="
            Колекция: Classic<br>
            Описание: Классическая мебельная композиция в интерьере спальной комнаты.<br>
            Артикул: CC-001<br>
            Стоимость: от 120 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_cl_001.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_cl_001_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-classic cupboard-design cupboard-swing">
        <a data-caption="
            Колекция: Classic<br>
            Описание: Классическая мебельная композиция.<br>
            Артикул: CC-082<br>
            Стоимость: от 130 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_cl_082.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_cl_082_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-classic cupboard-design cupboard-swing">
        <a data-caption="
            Колекция: Classic<br>
            Описание: Классическая мебельная композиция.<br>
            Артикул: CC-040<br>
            Стоимость: от 130 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_cl_040.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_cl_040_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-classic cupboard-coupe">
        <a data-caption="
            Колекция: Classic<br>
            Описание: Классическая мебельная композиция.<br>
            Артикул: CC-041<br>
            Стоимость: от 150 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_cl_041.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_cl_041_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-classic cupboard-swing">
        <a data-caption="
            Колекция: Classic<br>
            Описание: Классическая мебельная композиция.<br>
            Артикул: CC-042<br>
            Стоимость: от 120 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_cl_042.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_cl_042_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-classic cupboard-swing">
        <a data-caption="
            Колекция: Classic<br>
            Описание: Классическая мебельная композиция.<br>
            Артикул: CC-043<br>
            Стоимость: от 120 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_cl_043.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_cl_043_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-classic cupboard-design cupboard-swing">
        <a data-caption="
            Колекция: Classic<br>
            Описание: Классическая мебельная композиция.<br>
            Артикул: CC-044<br>
            Стоимость: от 130 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_cl_044.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_cl_044_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-classic cupboard-design cupboard-swing">
        <a data-caption="
            Колекция: Classic<br>
            Описание: Стильная коллекция шкафов CLASSIC в черном цвете с зеркальными распашными дверцами и декоративными раскладками придает интерьеру глубину и черты аристократического стиля. Пространство Вашей прихожей становится динамичным и современным.<br>
            Артикул: CC-005<br>
            Стоимость: от 130 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_cl_005.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_cl_005_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-classic cupboard-design cupboard-swing">
        <a data-caption="
            Колекция: Classic<br>
            Описание: Классическая мебельная композиция.<br>
            Артикул: CC-045<br>
            Стоимость: от 130 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_cl_045.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_cl_045_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-classic cupboard-swing">
        <a data-caption="
            Колекция: Classic<br>
            Описание: Классическая мебельная композиция.<br>
            Артикул: CC-046<br>
            Стоимость: от 120 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_cl_046.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_cl_046_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-classic">
        <a data-caption="
            Колекция: Classic<br>
            Описание: Классическая мебельная композиция.<br>
            Артикул: CC-047<br>
            Стоимость: от 120 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_cl_047.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_cl_047_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-classic cupboard-swing">
        <a data-caption="
            Колекция: Classic<br>
            Описание: Классическая мебельная композиция.<br>
            Артикул: CC-048<br>
            Стоимость: от 120 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_cl_048.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumnail"
               src="img/catalog/cupboard/ward_cl_048_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-classic cupboard-neo cupboard-swing">
        <a data-caption="
            Колекция: Classic<br>
            Описание: Классическая мебельная композиция.<br>
            Артикул: CC-049<br>
            Стоимость: от 120 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_cl_049.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_cl_049_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-classic cupboard-neo cupboard-swing">
        <a data-caption="
            Колекция: Classic<br>
            Описание: На смену устаревшим решениям пришла современная система хранения в гостиной. Многофункциональный модуль, состоящий из шкафов со стеклянными дверцами и нишей для телевизора, стеклянного подвесного модуля и выдвижных ящиков.<br>
            Артикул: CC-014<br>
            Стоимость: от 120 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_cl_014.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_cl_014_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-classic cupboard-coupe">
        <a data-caption="
            Колекция: Classic<br>
            Описание: Классический шкаф цвета слоновой кости с раздвижными дверями-купе дополнит ваш уникальный интерьер. Зеркальная часть двери оформлена декоративной гравировкой ромбами. Традиции и элегантность в современном варианте Вашей квартиры.<br>
            Артикул: CC-007<br>
            Стоимость: от 150 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_cl_007.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_cl_007_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-classic cupboard-design cupboard-swing">
        <a data-caption="
            Колекция: Classic<br>
            Описание: Белый классический шкаф состоит из трех секций с распашными зеркальными дверцами, выдвижными ящиками. Это сдержанная элегантность, строгие формы, точная проработка деталей, которые задают тон пространству и отражают образ жизни владельцев.<br>
            Артикул: CC-002<br>
            Стоимость: от 130 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_cl_002.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_cl_002_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-classic cupboard-swing">
        <a data-caption="
            Колекция: Classic<br>
            Описание: Один из наших самых любимых проектов - шикарный кабинет в классическом стиле. Элегантные пилястры, филенка на фасадах, английская решетка на стеклянных дверцах, создают атмосферу аристократичного изыска. Грамотное распределение полок и шкафчиков помогает систематизировать и облегчить рабочий процесс.<br>
            Артикул: CC-028<br>
            Стоимость: от 120 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_cl_028.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_cl_028_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-classic cupboard-neo">
        <a data-caption="
            Колекция: Classic<br>
            Описание: Встроенные шкафы с раздвижными дверями, оформленные зеркалами расширяют пространство интерьера. Дизайн строгий, лаконичный и функциональный. Маленькая хитрость — через стекло содержимое гардеробной выглядит более однородно.<br>
            Артикул: CC-024<br>
            Стоимость: от 120 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_cl_024.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_cl_024_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-classic cupboard-design cupboard-coupe">
        <a data-caption="
            Колекция: Classic<br>
            Описание: Узоры в зеркальном отражении.<br>
            Артикул: CC-009<br>
            Стоимость: от 130 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_cl_009.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_cl_009_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-classic cupboard-design cupboard-coupe">
        <a data-caption="
            Колекция: Classic<br>
            Описание: Узоры. Взгляд под углом.<br>
            Артикул: CC-010<br>
            Стоимость: от 130 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_cl_010.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_cl_010_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-classic cupboard-design cupboard-coupe">
        <a data-caption="
            Колекция: Classic<br>
            Описание: Фасад как произведение искусства.<br>
            Артикул: CC-011<br>
            Стоимость: от 130 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_cl_011.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_cl_011_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-classic cupboard-design cupboard-swing">
        <a data-caption="
            Колекция: Classic<br>
            Описание: Классическая мебельная композиция.<br>
            Артикул: CC-052<br>
            Стоимость: от 130 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_cl_052.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_cl_052_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-classic cupboard-design cupboard-swing">
        <a data-caption="
            Колекция: Classic<br>
            Описание: Классическая мебельная композиция.<br>
            Артикул: CC-053<br>
            Стоимость: от 130 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_cl_053.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_cl_053_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-classic cupboard-neo cupboard-swing">
        <a data-caption="
            Колекция: Classic<br>
            Описание: Классическая мебельная композиция.<br>
            Артикул: CC-054<br>
            Стоимость: от 120 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_cl_054.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_cl_054_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-classic cupboard-design cupboard-swing">
        <a data-caption="
            Колекция: Classic<br>
            Описание: Классическая мебельная композиция.<br>
            Артикул: CC-055<br>
            Стоимость: от 130 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_cl_055.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_cl_055_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-classic cupboard-design cupboard-swing">
        <a data-caption="
            Колекция: Classic<br>
            Описание: Классическая мебельная композиция.<br>
            Артикул: CC-056<br>
            Стоимость: от 130 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_cl_056.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_cl_056_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-classic cupboard-design cupboard-swing">
        <a data-caption="
            Колекция: Classic<br>
            Описание: Классическая мебельная композиция.<br>
            Артикул: CC-057<br>
            Стоимость: от 130 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_cl_057.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_cl_057_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-classic cupboard-swing">
        <a data-caption="
            Колекция: Classic<br>
            Описание: Коллекцию CLASSIC представляет встроенный шкаф, состоящий из трех модулей с распашными дверями. Строгая геометрия и декоративное обрамление дополняют друг друга, придавая интерьеру благородный характер. Качественная, удобная и функциональная система хранения.<br>
            Артикул: CC-029<br>
            Стоимость: от 120 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_cl_029.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_cl_029_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-classic cupboard-swing">
        <a data-caption="
            Колекция: Classic<br>
            Описание: Классическая мебельная композиция.<br>
            Артикул: CC-058<br>
            Стоимость: от 120 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_cl_058.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_cl_058_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-classic cupboard-swing">
        <a data-caption="
            Колекция: Classic<br>
            Описание: Классическая мебельная композиция.<br>
            Артикул: CC-059<br>
            Стоимость: от 120 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_cl_059.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_cl_059_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-classic cupboard-neo cupboard-swing" style="display: none;">
        <a data-caption="
            Колекция: Classic<br>
            Описание: Классическая мебельная композиция.<br>
            Артикул: CC-060<br>
            Стоимость: от 120 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_cl_060.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_cl_060_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-classic cupboard-swing" style="display: none;">
        <a data-caption="
            Колекция: Classic<br>
            Описание: Современная классическая прихожая состоит из белой панели с крючками, шкафа с ротанговыми и зеркальными дверцами, образуя эффект единой конструкции. Полукруглая секция с открытыми полками позволяет разместить декоративные предметы и изящные мелочи.<br>
            Артикул: CC-013<br>
            Стоимость: от 120 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_cl_013.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_cl_013_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-classic cupboard-neo cupboard-swing" style="display: none;">
        <a data-caption="
            Колекция: Classic<br>
            Описание: Классическая мебельная композиция.<br>
            Артикул: CC-061<br>
            Стоимость: от 120 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_cl_061.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_cl_061_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-classic cupboard-swing" style="display: none;">
        <a data-caption="
            Колекция: Classic<br>
            Описание: Классическая мебельная композиция.<br>
            Артикул: CC-062<br>
            Стоимость: от 120 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_cl_062.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_cl_062_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-classic cupboard-neo cupboard-swing" style="display: none;">
        <a data-caption="
            Колекция: Classic<br>
            Описание: Классическая мебельная композиция.<br>
            Артикул: CC-063<br>
            Стоимость: от 120 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_cl_063.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_cl_063_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-classic cupboard-neo cupboard-swing" style="display: none;">
        <a data-caption="
            Колекция: Classic<br>
            Описание: Классическая мебельная композиция.<br>
            Артикул: CC-064<br>
            Стоимость: от 120 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_cl_064.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_cl_064_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-classic cupboard-design cupboard-swing" style="display: none;">
        <a data-caption="
            Колекция: Classic<br>
            Описание: Мебель коллекции CLASSIC очень органично смотрится в классическом интерьере. Вместительный шкаф с орнаментальными вставками на дверцах сочетается с туалетным столиком в итальянском стиле. Белый цвет мебели – это удачное колористическое решение, которое делает пространство квартиры современным и изысканным.<br>
            Артикул: CC-016<br>
            Стоимость: от 130 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_cl_016.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_cl_016_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-classic cupboard-swing" style="display: none;">
        <a data-caption="
            Колекция: Classic<br>
            Описание: Классическая мебельная композиция.<br>
            Артикул: CC-065<br>
            Стоимость: от 130 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_cl_065.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_cl_065_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-classic cupboard-coupe" style="display: none;">
        <a data-caption="
            Колекция: Classic<br>
            Описание: Шкаф-купе из коллекции CLASSIC в белом цвете соответствует духу времени. В нем идеальные пропорции дополнены архитектурными деталями: карнизом, пилястрами. Он строгий, лаконичный и вместительный. Модная пара для белого – оттенки натурального дерева.<br>
            Артикул: CC-017<br>
            Стоимость: от 150 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_cl_017.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_cl_017_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-classic cupboard-coupe" style="display: none;">
        <a data-caption="
            Колекция: Classic<br>
            Описание: Вашу прихожую украсит классический белый шкаф-купе с тремя дверцами, оформленными филенками. Внутри него есть полки и перекладины для вешалок, места для хранения бытовых предметов – все для удобства и многофункциональности! Благодаря раздвижным дверям, шкаф CLASSIC сохраняет площадь прихожей.<br>
            Артикул: CC-003<br>
            Стоимость: от 150 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_cl_003.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_cl_003_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-classic cupboard-coupe" style="display: none;">
        <a data-caption="
            Колекция: Classic<br>
            Описание: Коллекцию CLASSIC представляет обновленный шкаф-купе. выполненный в белой гамме. Зеркальные элементы на фасаде раздвижных дверей создают ощущение воздушности и легкости. Пространство Вашей квартиры будет первоклассно организовано.<br>
            Артикул: CC-019<br>
            Стоимость: от 150 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_cl_019.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_cl_019_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-classic cupboard-coupe" style="display: none;">
        <a data-caption="
            Колекция: Classic<br>
            Описание: Яркий пример классического стиля – белый шкаф-купе с раздвижными дверями, которые оформлены филенками. Верхние и нижние части – глухие, а центральная часть украшена зеркалами. Вам понравится сочетание сдержанности и декоративных элементов.<br>
            Артикул: CC-020<br>
            Стоимость: от 150 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_cl_020.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_cl_020_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-classic cupboard-coupe" style="display: none;">
        <a data-caption="
            Колекция: Classic<br>
            Описание: Спокойная классика белого шкафа-купе проявляется в сочетании декоративных элементов: выступающего карниза, обрамлении в виде пилястр, грамотного разделения дверей на глухую и зеркальную части. Благодаря этому вместительный шкаф визуально облегчает пространство.<br>
            Артикул: CC-021<br>
            Стоимость: от 150 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_cl_021.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_cl_021_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-classic cupboard-coupe" style="display: none;">
        <a data-caption="
            Колекция: Classic<br>
            Описание: Шкаф-купе из коллекции CLASSIC выглядит лаконично и состоит из вертикалей, которые зрительно вытягивают пространство квартиры. Этому способствуют зеркала на дверцах шкафа, они всегда актуальны. Такое соединение строгих форм и эффектной отделки формирует характер интерьера.<br>
            Артикул: CC-022<br>
            Стоимость: от 150 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_cl_022.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_cl_022_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-classic cupboard-coupe" style="display: none;">
        <a data-caption="
            Колекция: Classic<br>
            Описание: В основу дизайна шкафа-купе легло соединение современных и классических подходов. Зеркальные раскладки на дверцах – это комбинация идеального размера. Выразительность, деликатность акцентов, симметрия и безупречная точность исполнения – вот, сильные стороны коллекции CLASSIC.<br>
            Артикул: CC-023<br>
            Стоимость: от 150 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_cl_023.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_cl_023_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-classic cupboard-swing" style="display: none;">
        <a data-caption="
            Колекция: Classic<br>
            Описание: Если Вам нужен шкаф под нестандартную планировку, то это – белый угловой шкаф в классическом стиле с внешним углом. Он не только расширяет пространство, но и отлично обыгрывает дизайн стен внешнего угла. Великолепный карниз шкафа, угловая пилястра и дверцы со стеклянными вставками зрительно увеличивают высоту потолка.<br>
            Артикул: CC-025<br>
            Стоимость: от 120 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_cl_025.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_cl_025_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-classic cupboard-swing" style="display: none;">
        <a data-caption="
            Колекция: Classic<br>
            Описание: Шкаф с четырьмя распашными дверцами, центральные двери оформлены вставками матового стекла с геометрической прозрачной гравировкой. Белый цвет подчеркивает легкость и воздушность конструкции. Использованы классические элементы: точеный карниз, боковые панели оформлены пилястрами. Простота дизайна дополняется вниманием к деталям.<br>
            Артикул: CC-026<br>
            Стоимость: от 120 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_cl_026.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_cl_026_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-classic cupboard-swing" style="display: none;">
        <a data-caption="
            Колекция: Classic<br>
            Описание: Перед Вами классический белый шкаф с распашными дверями для компактного размещения вещей. Фасад шкафа составляют выдвижные ящики, глухие и стеклянные двери, обрамленные карнизом, цоколем и пилястрами. Лаконичный дизайн создает ощущение поэтичной симметрии и безупречной точности исполнения.<br>
            Артикул: CC-027<br>
            Стоимость: от 120 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_cl_027.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_cl_027_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-classic cupboard-swing" style="display: none;">
        <a data-caption="
            Колекция: Classic<br>
            Описание: Гостиная из коллекции CLASSIC декорирована резными пилястрами, фрезерованными фасадами с патиной, филенками и резным карнизом с позолотой. Дополняет интерьер элегантный узор на зеркалах в виде решетки.<br>
            Артикул: CC-033<br>
            Стоимость: от 120 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_cl_033.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_cl_033_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-classic cupboard-swing" style="display: none;">
        <a data-caption="
            Колекция: Classic<br>
            Описание: Эффектная гостиная с вместительной шкафной группой выполнена в стиле классицизм. Дизайнеры решили непростую задачу, сделав ее максимально функциональной и удобной для размещения большого количество вещей и предметов, не перегружая интерьер. Выполненная в белом цвете, гостиная выглядит просторной и изысканной.<br>
            Артикул: CC-032<br>
            Стоимость: от 120 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_cl_032.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_cl_032_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-classic cupboard-swing" style="display: none;">
        <a data-caption="
            Колекция: Classic<br>
            Описание: Особое внимание на этом фото заслуживай буфет. Выполненный в стиле классицизм, что и весь мебельный гарнитур гостиной, он хорошо его дополняет. Нижние дверцы буфета декорированы изящной сквозной решеткой, верхние дверцы со вставками из матового стекла декорированы решеткой в виде ромбов.<br>
            Артикул: CC-035<br>
            Стоимость: от 120 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_cl_035.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_cl_035_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-classic cupboard-swing" style="display: none;">
        <a data-caption="
            Колекция: Classic<br>
            Описание: Ниша под телевизор эффектно декорирована резной позолоченной рамкой, задняя стенка оформлена тканью в тон рамке, что придает гостиной особый статус и подчеркивает дороговизну интерьера. Выдержанный стиль классицизм дополняют пилястры и фрезерованные фасады с патиной.<br>
            Артикул: CC-034<br>
            Стоимость: от 120 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_cl_034.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_cl_034_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-classic cupboard-swing" style="display: none;">
        <a data-caption="
            Колекция: Classic<br>
            Описание: Подчеркнуть Ваш высокий статус поможет роскошный белый шкаф, коллекции CLASSIC. Он обрамлен золотым фактурным карнизом, рельефными фасадами с золочеными филенками. В центральной части шкафа расположена ниша с подсветкой и стеклянной полкой - для особо ценных предметов.<br>
            Артикул: CC-006<br>
            Стоимость: от 120 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_cl_006.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_cl_006_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-classic cupboard-coupe cupboard-swing" style="display: none;">
        <a data-caption="
            Колекция: Classic<br>
            Описание: Шкаф-купе выполнен в стиле классицизм. Акцент сделан на декорированной резными узорами позолоченной рамке по периметру и центру шкафа, что придает помещению особый статус и шарм. Сам шкаф выполнен в белом цвете, что делает интерьер более легким и воздушным, не перегружая его. Дополняют стиль элегантные фрезеровки на фасадах.<br>
            Артикул: CC-031<br>
            Стоимость: от 150 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_cl_031.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_cl_031_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-classic cupboard-design cupboard-coupe" style="display: none;">
        <a data-caption="
            Колекция: Classic<br>
            Описание: Шкаф-купе выполнен в стиле неоклассика. Эффектные барельефы на дверях и филенки с патиной, придают шкафу некую триумфальность.  Центральная зеркальная дверь украшена английской решеткой, что несомненно, делает шкаф более элегантным и аристократичным.<br>
            Артикул: CC-036<br>
            Стоимость: от 130 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_cl_036.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_cl_036_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-classic cupboard-design cupboard-coupe" style="display: none;">
        <a data-caption="
            Колекция: Classic<br>
            Описание: Данный шкаф-купе в стиле неоклассики, выполнен в белом цвете. Две боковые двери украшены барельефом в виде головы льва, центральная дверь сделана в виде зеркала, декорированным английской решеткой. Данный шкаф отлично впишется как в классический интерьер, так и в современный, подчеркнув статус хозяина помещения и его изысканный вкус.<br>
            Артикул: CC-037<br>
            Стоимость: от 130 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_cl_037.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_cl_037_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-classic cupboard-design cupboard-coupe" style="display: none;">
        <a data-caption="
            Колекция: Classic<br>
            Описание: Шкаф-купе выполнен в стиле неоклассика. Фасады дверей украшены барельефами в виде пегасов. Верхняя часть центральной двери представляет собой зеркало, декорированное английской решеткой. Нижние фасады дверей декорированный филенкой. Верхняя часть шкафа сделана в виде карниза с изящной резьбой. Дизайн шкафа дополняют боковые резные пилястры.<br>
            Артикул: CC-038<br>
            Стоимость: от 130 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_cl_038.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_cl_038_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-classic cupboard-design cupboard-coupe" style="display: none;">
        <a data-caption="
            Колекция: Classic<br>
            Описание: Шкаф купе цвета слоновой кости с патиной выполнен в стиле неоклассика. Центральная дверь шкафа декорирована барельефом в виде головы льва и фигурным украшением в позолоте. Фасады всех трех дверей украшены изящной фрезеровкой. Дорогое убранство шкафа эффектно дополнено боковыми пилястрами с резьбой и фигурными украшениями.<br>
            Артикул: CC-039<br>
            Стоимость: от 130 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_cl_039.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_cl_039_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-classic cupboard-design cupboard-coupe" style="display: none;">
        <a data-caption="
            Колекция: Classic<br>
            Описание: Классическая мебельная композиция.<br>
            Артикул: CC-066<br>
            Стоимость: от 130 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_cl_066.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_cl_066_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-classic cupboard-design cupboard-coupe" style="display: none;">
        <a data-caption="
            Колекция: Classic<br>
            Описание: Классическая мебельная композиция.<br>
            Артикул: CC-067<br>
            Стоимость: от 130 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_cl_067.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_cl_067_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-classic cupboard-coupe" style="display: none;">
        <a data-caption="
            Колекция: Classic<br>
            Описание: Классическая мебельная композиция.<br>
            Артикул: CC-068<br>
            Стоимость: от 150 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_cl_068.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_cl_068_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-classic cupboard-neo cupboard-swing" style="display: none;">
        <a data-caption="
            Колекция: Classic<br>
            Описание: Классическая мебельная композиция.<br>
            Артикул: CC-069<br>
            Стоимость: от 120 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_cl_069.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_cl_069_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-classic cupboard-neo cupboard-swing" style="display: none;">
        <a data-caption="
            Колекция: Classic<br>
            Описание: Классическая мебельная композиция.<br>
            Артикул: CC-070<br>
            Стоимость: от 120 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_cl_070.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_cl_070_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-classic cupboard-neo cupboard-swing" style="display: none;">
        <a data-caption="
            Колекция: Classic<br>
            Описание: Классическая мебельная композиция.<br>
            Артикул: CC-071<br>
            Стоимость: от 120 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_cl_071.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_cl_071_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-classic cupboard-swing" style="display: none;">
        <a data-caption="
            Колекция: Classic<br>
            Описание: Классическая мебельная композиция.<br>
            Артикул: CC-072<br>
            Стоимость: от 120 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_cl_072.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_cl_072_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-classic cupboard-swing" style="display: none;">
        <a data-caption="
            Колекция: Classic<br>
            Описание: Классическая мебельная композиция.<br>
            Артикул: CC-073<br>
            Стоимость: от 120 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_cl_073.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_cl_073_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-classic cupboard-neo cupboard-swing" style="display: none;">
        <a data-caption="
            Колекция: Classic<br>
            Описание: Классическая мебельная композиция.<br>
            Артикул: CC-074<br>
            Стоимость: от 120 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_cl_074.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_cl_074_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-classic cupboard-neo cupboard-swing" style="display: none;">
        <a data-caption="
            Колекция: Classic<br>
            Описание: Классическая мебельная композиция.<br>
            Артикул: CC-075<br>
            Стоимость: от 120 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_cl_075.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_cl_075_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-classic cupboard-neo cupboard-swing" style="display: none;">
        <a data-caption="
            Колекция: Classic<br>
            Описание: Классическая мебельная композиция.<br>
            Артикул: CC-076<br>
            Стоимость: от 120 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_cl_076.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_cl_076_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-classic cupboard-design cupboard-swing" style="display: none;">
        <a data-caption="
            Колекция: Classic<br>
            Описание: Классическая мебельная композиция.<br>
            Артикул: CC-077<br>
            Стоимость: от 130 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_cl_077.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_cl_077_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-classic cupboard-design cupboard-swing" style="display: none;">
        <a data-caption="
            Колекция: Classic<br>
            Описание: Классическая мебельная композиция.<br>
            Артикул: CC-078<br>
            Стоимость: от 130 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_cl_078.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_cl_078_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-classic cupboard-design cupboard-swing" style="display: none;">
        <a data-caption="
            Колекция: Classic<br>
            Описание: Классическая мебельная композиция.<br>
            Артикул: CC-079<br>
            Стоимость: от 130 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_cl_079.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_cl_079_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-classic cupboard-design cupboard-swing" style="display: none;">
        <a data-caption="
            Колекция: Classic<br>
            Описание: Классическая мебельная композиция.<br>
            Артикул: CC-080<br>
            Стоимость: от 130 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_cl_080.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_cl_080_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-classic cupboard-design cupboard-swing" style="display: none;">
        <a data-caption="
            Колекция: Classic<br>
            Описание: Классическая мебельная композиция.<br>
            Артикул: CC-081<br>
            Стоимость: от 130 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_cl_081.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_cl_081_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-classic cupboard-coupe" style="display: none;">
        <a data-caption="
            Колекция: Classic<br>
            Описание: Если Вы хотите зрительно расширить пространство – лучше зеркала помощника не найти. Зеркальные дверцы шкафа-купе CLASSIC украшают перекрестные накладки и глухие фактурные вставки. Белый цвет и зеркала придают шкафу легкий и невесомый вид.<br>
            Артикул: CC-004<br>
            Стоимость: от 150 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_cl_004.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_cl_004_min.jpg"></a>
    </div>

    <div class="catalog__item mix cupboard cupboard-modern cupboard-coupe" style="display: none;">
        <a data-caption="
            Колекция: Soft<br>
            Описание: Шкафы SOFT. Строгость и элегантность вашего интерьера.<br>
            Артикул: CM-001<br>
            Стоимость: от 110 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_md01_1.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_md01_1_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-modern cupboard-swing" style="display: none;">
        <a data-caption="
            Колекция: Soho<br>
            Описание: Белый цвет и скользящий в элегантной раме зеркальный фасад SOHO,делают конструкцию более легкой в визуальном восприятии.<br>
            Артикул: CM-002
            Стоимость: от 110 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_md01_2.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_md01_2_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-modern cupboard-swing" style="display: none;">
        <a data-caption="
            Колекция: Quardo<br>
            Описание: Сочетание тонкой алюминиевой рамки серии QUADRO с заполнением из черного стекла, придают конструкции особую строгость и лаконичность.<br>
            Артикул: CM-003<br>
            Стоимость: от 110 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_md01_3.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_md01_3_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-modern cupboard-coupe" style="display: none;">
        <a data-caption="
            Колекция: Soft<br>
            Описание: Шкафы-купе серии SOFT  ,сохраняя функциональность, благодаря изящным тонким рамкам дверей, имеют свой особый стиль, создающий ощущение легкости и элегантности.<br>
            Артикул: CM-004<br>
            Стоимость: от 110 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_md01_4.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_md01_4_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-modern cupboard-coupe" style="display: none;">
        <a data-caption="
            Колекция: Soft<br>
            Описание: Двери шкафов системы SOFT полностью закрывают корпус изделия. Благодаря этому в интерьере виден только их красивый фасад.<br>
            Артикул: CM-005<br>
            Стоимость: от 110 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_md01_5.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_md01_5_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-modern cupboard-design cupboard-coupe" style="display: none;">
        <a data-caption="
            Колекция: Racio<br>
            Описание:Зеркала со специальной огранкой являются украшением любого изделия и интерьера в целом.<br>
            Артикул: CM-006<br>
            Стоимость: от 130 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_md01_6.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_md01_6_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-modern cupboard-swing" style="display: none;">
        <a data-caption="
            Колекция: Modern<br>
            Описание: На фото представлено интересное дизайнерское решение для комнаты со скошенным потолком. Благодаря шкафчикам с необычным косым краем, данная модель может быть использована в мансардных помещениях. Глубокий глянец светлых фасадов отлично сочетается с темным шпоном, делая композицию современной и уютной.<br>
            Артикул: CM-007<br>
            Стоимость: от 110 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_md01_7.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_md01_7_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-modern cupboard-coupe" style="display: none;">
        <a data-caption="
            Колекция: Racio<br>
            Описание: Сложная архитектура дверей  делает изделие более интересным, а зеркальные поверхности растворяют его в пространстве помещения.<br>
            Артикул: CM-008<br>
            Стоимость: от 90 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_md01_8.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_md01_8_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-modern cupboard-design cupboard-coupe" style="display: none;">
        <a data-caption="
            Колекция: Modern<br>
            Описание: Оригинальные зеркальные фасады шкафа в прихожей при дневном свете.<br>
            Артикул: CM-009<br>
            Стоимость: от 130 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_md01_9.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_md01_9_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-modern cupboard-design cupboard-coupe" style="display: none;">
        <a data-caption="
            Колекция: Soho<br>
            Описание: Декоративная гравировка придает особый вид дверям коллекции Soho.<br>
            Артикул: CM-010<br>
            Стоимость: от 130 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_md01_10.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_md01_10_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-modern cupboard-design cupboard-coupe" style="display: none;">
        <a data-caption="
            Колекция: Modern<br>
            Описание: Угловой шкаф-купе в современном стиле выполнен в белом матовом цвете. Фасады дверей декорированы дизайнерской фрезеровкой, что делает его изящным и необычным. Удачное проектировочное решение сделать шкаф в виде внутреннего угла, позволяет максимально освободить полезную площадь комнаты, при этом сохраняя вместительность шкафа.<br>
            Артикул: CM-011<br>
            Стоимость: от 130 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_md01_11.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_md01_11_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-modern cupboard-design cupboard-coupe" style="display: none;">
        <a data-caption="
            Колекция: Soho<br>
            Описание: Шкаф-купе из коллекции SOHO выполненный в стиле модерн, может отлично сочетаться с интерьером в классическом стиле. Благородная отделка из шпона темно-коричневого цвета, делает дизайн более традиционным и аристократичным. Дизайнерская решетка на зеркалах отлично завершает респектабельный образ.<br>
            Артикул: CM-012<br>
            Стоимость: от 130 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_md01_12.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_md01_12_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-modern cupboard-swing cupboard-folding" style="display: none;">
        <a data-caption="
            Колекция: Modern<br>
            Описание: Данная модель – необычное дизайнерское решение, сочетающее в себе белые крашенные фасады с глубоким глянцем и фасады из темно-коричневого стекла из коллекции QUADRO. Две боковые двери - распашные, а две центральные – складные. Складные двери помогают полностью открывать единую широкоформатную секцию, что облегчает доступ к хранимым вещам.<br>
            Артикул: CM-013<br>
            Стоимость: от 110 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_md01_13.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_md01_13_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-modern cupboard-design cupboard-swing" style="display: none;">
        <a data-caption="
            Колекция: Modern<br>
            Описание: Распашной шкаф из коллекции MODERN выполнен в современном стиле. Фасады дверей облицованы коричневой кожей в глянцевой рамке темно-шоколадного цвета. Дизайнерские золоченые ручки отлично завершают респектабельный образ шкафа.<br>
            Артикул: CM-014<br>
            Стоимость: от 130 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_md01_14.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_md01_14_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-modern cupboard-swing" style="display: none;">
        <a data-caption="
            Колекция: Modern<br>
            Описание: Угловой шкаф-купе в стиле модерн станет отличным украшением Вашей гардеробной. За счет зеркальных фасадов помещение будет казаться больше и просторней, выполненная из шпона белая рамка дверей добавляет интерьеру легкости и света. Важным преимуществом является возможность полностью открыть угловую секцию, что облегчает доступ к вещам.<br>
            Артикул: CM-015<br>
            Стоимость: от 110 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_md01_15.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_md01_15_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-modern cupboard-design cupboard-coupe" style="display: none;">
        <a data-caption="
            Колекция: Modern<br>
            Описание: Шкаф купе из коллекции MODERN выполнен в белом глянце. Фасады дверей украшает изящная дизайнерская фрезеровка. Шкаф выглядит одновременно лаконично и стильно и в тоже время ярко и оригинально. Торцевая секция с полочками, отлично подойдет для хранения небольших вещей и интерьерных аксессуаров.<br>
            Артикул: CM-016<br>
            Стоимость: от 130 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_md01_16.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_md01_16_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-modern cupboard-coupe" style="display: none;">
        <a data-caption="
            Колекция: Soho<br>
            Описание: Шкаф-купе в современном стиле из коллекции SOHO LIGHT, обладает своим собственным особым стилем. Благодаря более изящной и тонкой рамке двери, облицованной натуральным шпоном, создается ощущение легкости и элегантности. Сочетание натурального цвета венге и тонированного стекла, придает изделию неповторимый шарм и очарование.<br>
            Артикул: CM-017<br>
            Стоимость: от 110 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_md01_17.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_md01_17_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-modern cupboard-coupe" style="display: none;">
        <a data-caption="
            Колекция: Soft<br>
            Описание: Шкаф-купе из коллекции SOFT выполнен в стиле Hi-Tech. Основной чертой этой коллекции является система перемещения дверей, предусматривающая механизм их плавного закрывания, в том числе, широкоформатных. Фасады дверей выполнены из белого стекла с тонкой алюминиевой рамкой, что зрительно облегчает интерьер.<br>
            Артикул: CM-018<br>
            Стоимость: от 110 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_md01_18.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_md01_18_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-modern cupboard-coupe" style="display: none;">
        <a data-caption="
            Колекция: Racio<br>
            Описание: Шкаф-купе коллекции RACIO обладает традиционным дизайном, а благодаря полукруглой алюминиевой рамке прост и удобен в эксплуатации. Возможность использования в декоре фасадов самых разных материалов от стекла, до шпона и кожи, позволяет его гармонично вписать в любой интерьер.<br>
            Артикул: CM-019<br>
            Стоимость: от 90 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_md01_19.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_md01_19_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-modern cupboard-coupe" style="display: none;">
        <a data-caption="
            Колекция: Soft<br>
            Артикул: CM-020<br>
            Стоимость: от 110 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_md01_20.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_md01_20_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-modern cupboard-coupe" style="display: none;">
        <a data-caption="
            Колекция: Racio<br>
            Артикул: CM-021<br>
            Стоимость: от 90 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_md01_21.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_md01_21_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-modern cupboard-coupe" style="display: none;">
        <a data-caption="
            Колекция: Soft<br>
            Описание: Шкаф в спальню<br>
            Артикул: CM-022<br>
            Стоимость: от 110 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_md01_22.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_md01_22_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-modern cupboard-coupe" style="display: none;">
        <a data-caption="
            Колекция: Soft<br>
            Описание: За дверями этого шкафа спрятана небольшая минигардеробная.<br>
            Артикул: CM-023<br>
            Стоимость: от 110 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_md01_23.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_md01_23_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-modern cupboard-coupe" style="display: none;">
        <a data-caption="
            Колекция: Modern<br>
            Описание: Белый цвет и глянцевая поверхность делают изделие легким и незаметным.<br>
            Артикул: CM-024<br>
            Стоимость: от 130 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_md01_24.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_md01_24_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-modern cupboard-coupe" style="display: none;">
        <a data-caption="
            Колекция: Modern<br>
            Артикул: CM-037<br>
            Стоимость: от 120 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_md01_37.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_md01_37_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-modern cupboard-coupe" style="display: none;">
        <a data-caption="
            Колекция: Modern<br>
            Артикул: CM-038<br>
            Стоимость: от 120 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_md01_38.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_md01_38_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-modern cupboard-coupe" style="display: none;">
        <a data-caption="
            Колекция: Modern<br>
            Артикул: CM-039<br>
            Стоимость: от 120 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_md01_39.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_md01_39_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-modern cupboard-design cupboard-swing" style="display: none;">
        <a data-caption="
            Колекция: Modern<br>
            Артикул: CM-025<br>
            Стоимость: от 130 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_md01_25.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_md01_25_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-modern cupboard-design cupboard-swing" style="display: none;">
        <a data-caption="
            Колекция: Modern<br>
            Описание: Дизайнерская фрезеровка на дверях может стать хорошим украшением вашего интерьера.<br>
            Артикул: CM-026<br>
            Стоимость: от 130 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_md01_26.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_md01_26_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-modern cupboard-design cupboard-coupe" style="display: none;">
        <a data-caption="
            Колекция: Racio<br>
            Описание: Дизайнерская фрезеровка на дверях может стать хорошим украшением вашего интерьера.<br>
            Артикул: CM-027<br>
            Стоимость: от 130 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_md01_27.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_md01_27_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-modern cupboard-design cupboard-swing" style="display: none;">
        <a data-caption="
            Колекция: Modern<br>
            Артикул: CM-040<br>
            Стоимость: от 130 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_md01_40.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_md01_40_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-modern cupboard-design cupboard-swing" style="display: none;">
        <a data-caption="
            Колекция: Modern<br>
            Артикул: CM-041<br>
            Стоимость: от 130 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_md01_41.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_md01_41_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-modern cupboard-design" style="display: none;">
        <a data-caption="
            Колекция: Modern<br>
            Описание: Дизайнерская фрезеровка на дверях может стать хорошим украшением вашего интерьера.<br>
            Артикул: CM-028<br>
            Стоимость: от 130 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_md01_28.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_md01_28_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-modern cupboard-design cupboard-swing" style="display: none;">
        <a data-caption="
            Колекция: Modern<br>
            Артикул: CM-042<br>
            Стоимость: от 130 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_md01_42.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_md01_42_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-modern cupboard-design cupboard-swing" style="display: none;">
        <a data-caption="
            Колекция: Modern<br>
            Артикул: CM-043<br>
            Стоимость: от 130 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_md01_43.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_md01_43_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-modern cupboard-design cupboard-swing" style="display: none;">
        <a data-caption="
            Колекция: Modern<br>
            Артикул: CM-044<br>
            Стоимость: от 130 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_md01_44.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_md01_44_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-modern cupboard-swing" style="display: none;">
        <a data-caption="
            Колекция: Quardo<br>
            Артикул: CM-029<br>
            Стоимость: от 110 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_md01_29.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_md01_29_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-modern cupboard-swing" style="display: none;">
        <a data-caption="
            Колекция: Quardo<br>
            Артикул: CM-031<br>
            Стоимость: от 110 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_md01_31.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_md01_31_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-modern cupboard-design cupboard-swing" style="display: none;">
        <a data-caption="
            Колекция: Modern<br>
            Артикул: CM-047<br>
            Стоимость: от 130 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_md01_47.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_md01_47_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-modern cupboard-swing" style="display: none;">
        <a data-caption="
            Колекция: Quardo<br>
            Артикул: CM-030<br>
            Стоимость: от 110 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_md01_30.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_md01_30_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-modern cupboard-design cupboard-swing" style="display: none;">
        <a data-caption="
            Колекция: Modern<br>
            Артикул: CM-049<br>
            Стоимость: от 130 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_md01_49.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_md01_49_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-modern cupboard-design cupboard-swing" style="display: none;">
        <a data-caption="
            Колекция: Modern<br>
            Артикул: CM-050<br>
            Стоимость: от 130 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_md01_50.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_md01_50_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-modern cupboard-design cupboard-swing" style="display: none;">
        <a data-caption="
            Колекция: Modern<br>
            Артикул: CM-051<br>
            Стоимость: от 130 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_md01_51.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_md01_51_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-modern cupboard-swing" style="display: none;">
        <a data-caption="
            Колекция: Modern<br>
            Артикул: CM-052<br>
            Стоимость: от 110 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_md01_52.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_md01_52_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-modern cupboard-swing" style="display: none;">
        <a data-caption="
            Колекция: Quardo<br>
            Артикул: CM-032<br>
            Стоимость: от 110 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_md01_32.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_md01_32_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-modern cupboard-design cupboard-swing" style="display: none;">
        <a data-caption="
            Колекция: Modern<br>
            Артикул: CM-054<br>
            Стоимость: от 130 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_md01_54.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_md01_54_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-modern cupboard-design cupboard-swing" style="display: none;">
        <a data-caption="
            Колекция: Modern<br>
            Артикул: CM-055<br>
            Стоимость: от 130 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_md01_55.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_md01_55_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-modern" style="display: none;">
        <a data-caption="
            Колекция: Гостинная<br>
            Артикул: CM-033<br>
            Стоимость: от 100 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_md01_33.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_md01_33_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-modern cupboard-coupe" style="display: none;">
        <a data-caption="
            Колекция: Гостинная<br>
            Артикул: CM-034<br>
            Стоимость: от 100 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_md01_34.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_md01_34_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-modern" style="display: none;">
        <a data-caption="
            Колекция: Modern<br>
            Артикул: CM-058<br>
            Стоимость: от 100 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_md01_58.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_md01_58_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-modern cupboard-design cupboard-coupe" style="display: none;">
        <a data-caption="
            Колекция: Гостинная<br>
            Артикул: CM-035<br>
            Стоимость: от 130 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_md01_35.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_md01_35_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-modern cupboard-design cupboard-swing" style="display: none;">
        <a data-caption="
            Колекция: Modern<br>
            Артикул: CM-060<br>
            Стоимость: от 130 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_md01_60.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_md01_60_min.jpg"></a>
    </div>
    <div class="catalog__item mix cupboard cupboard-modern" style="display: none;">
        <a data-caption="
            Колекция: Modern<br>
            Артикул: CM-061<br>
            Стоимость: от 100 000 руб. за погонный метр
        " href="img/catalog/cupboard/ward_md01_61.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
               src="img/catalog/cupboard/ward_md01_61_min.jpg"></a>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        repaintMode();
    });
</script>
