<div class="detailfilter detailfilter-other">
    <div class="section">
        <div class="section-heading">Аксессуары и системы подсветки</div>
        <ul class="option" data-filter-group="other-type">
            <li>
                <button class="all" data-filter="">Все</button>
            </li>
            <li>
                <button class="accessory" data-filter=".other-accessory">Аксессуары</button>
            </li>
            <li>
                <button class="backlight" data-filter=".other-backlight">Системы подсветки</button>
            </li>
        </ul>
    </div>
</div>

<div class="catalog__list" style="">
    <div class="catalog__item mix other other-accessory">

        <a data-caption="
                    Колекция: Soft
                    Описание:
                    Органайзеры различных конструкций позволяют выделить индивидуальные места хранения вашим вещам, обеспечивая к ним удобный доступ.
                    Артикул: AC-001
                " href="img/catalog/accessories/inside01.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
                       src="img/catalog/accessories/inside01_min.jpg"></a>


    </div>
    <div class="catalog__item mix other other-accessory">

        <a data-caption="
                    Колекция: Soft
                    Описание:
                    Фасады со стеклом позволяют визуально просматривать вещи, делает их поиск более удобным.
                    Артикул: AC-002
                " href="img/catalog/accessories/inside02.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
                       src="img/catalog/accessories/inside02_min.jpg"></a>


    </div>
    <div class="catalog__item mix other other-accessory">

        <a data-caption="
                    Колекция: Soft
                    Описание:
                    Вариант хранения мужских сорочек в выдвижном ящике (органайзере).
                    Артикул: AC-003
                " href="img/catalog/accessories/inside03.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
                       src="img/catalog/accessories/inside03_min.jpg"></a>


    </div>
    <div class="catalog__item mix other other-accessory">

        <a data-caption="
                    Колекция: Soft
                    Описание:
                    Органайзер с подсветкой.
                    Артикул: AC-004
                " href="img/catalog/accessories/inside04.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
                       src="img/catalog/accessories/inside04_min.jpg"></a>


    </div>
    <div class="catalog__item mix other other-accessory">

        <a data-caption="
                    Колекция: Soft
                    Описание:
                    Строго и красиво.
                    Артикул: AC-005
                " href="img/catalog/accessories/inside05.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
                       src="img/catalog/accessories/inside05_min.jpg"></a>


    </div>
    <div class="catalog__item mix other other-accessory">

        <a data-caption="
                    Колекция: Soft
                    Описание:
                    Мелкие предметы удобно хранить на специальных выдвижных конструкциях.
                    Артикул: AC-006
                " href="img/catalog/accessories/inside06.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
                       src="img/catalog/accessories/inside06_min.jpg"></a>


    </div>
    <div class="catalog__item mix other other-accessory">

        <a data-caption="
                    Колекция: Soft
                    Описание:
                    Для хранения очков предусмотрен органайзер со специальными вкладышами и мягкой отделкой.
                    Артикул: AC-007
                " href="img/catalog/accessories/inside07.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
                       src="img/catalog/accessories/inside07_min.jpg"></a>


    </div>
    <div class="catalog__item mix other other-accessory">

        <a data-caption="
                    Колекция: Soft
                    Описание:
                    Для хранения бижутерии и дорогих вам вещей предназначены специальные органайзеры с мягкой обивкой.
                    Артикул: AC-008
                " href="img/catalog/accessories/inside08.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
                       src="img/catalog/accessories/inside08_min.jpg"></a>


    </div>
    <div class="catalog__item mix other other-accessory">

        <a data-caption="
                    Колекция: Soft
                    Описание:
                    Цвет обивки органайзера вы можете выбрать по своему вкусу.
                    Артикул: AC-009
                " href="img/catalog/accessories/inside09.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
                       src="img/catalog/accessories/inside09_min.jpg"></a>


    </div>
    <div class="catalog__item mix other other-accessory">

        <a data-caption="
                    Колекция: Soft
                    Описание:
                    Обивка из кожи.
                    Артикул: AC-010
                " href="img/catalog/accessories/inside10.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
                       src="img/catalog/accessories/inside10_min.jpg"></a>


    </div>
    <div class="catalog__item mix other other-accessory">

        <a data-caption="
                    Колекция: Soft
                    Описание:
                    Выдвижная обувница.
                    Артикул: AC-011
                " href="img/catalog/accessories/inside11.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
                       src="img/catalog/accessories/inside11_min.jpg"></a>


    </div>
    <div class="catalog__item mix other other-accessory">

        <a data-caption="
                    Колекция: Soft
                    Описание:
                    Вариант размещения зеркала в шкафу-купе.
                    Артикул: AC-012
                " href="img/catalog/accessories/inside12.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
                       src="img/catalog/accessories/inside12_min.jpg"></a>


    </div>
    <div class="catalog__item mix other other-accessory">

        <a data-caption="
                    Колекция: Soft
                    Описание:
                    Вариант размещения зеркала в шкафу-купе.
                    Артикул: AC-013
                " href="img/catalog/accessories/inside13.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
                       src="img/catalog/accessories/inside13_min.jpg"></a>


    </div>
    <div class="catalog__item mix other other-accessory">

        <a data-caption="
                    Колекция: Soft
                    Описание:
                    Выдвигающийся органайзер с зеркалом на торце.
                    Артикул: AC-014
                " href="img/catalog/accessories/inside14.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
                       src="img/catalog/accessories/inside14_min.jpg"></a>


    </div>
    <div class="catalog__item mix other other-accessory">

        <a data-caption="
                    Колекция: Soft
                    Описание:
                    Удобно и красиво.
                    Артикул: AC-015
                " href="img/catalog/accessories/inside15.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
                       src="img/catalog/accessories/inside15_min.jpg"></a>


    </div>
    <div class="catalog__item mix other other-accessory">

        <a data-caption="
                    Колекция: Soft
                    Описание:
                    Органайзеры для галстуков, ремней и платков – необходимый элемент в любой гардеробной комнате.
                    Артикул: AC-016
                " href="img/catalog/accessories/inside16.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
                       src="img/catalog/accessories/inside16_min.jpg"></a>


    </div>
    <div class="catalog__item mix other other-accessory">

        <a data-caption="
                    Колекция: Soft
                    Описание:
                    Удобно и аккуратно.
                    Артикул: AC-017
                " href="img/catalog/accessories/inside17.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
                       src="img/catalog/accessories/inside17_min.jpg"></a>


    </div>
    <div class="catalog__item mix other other-accessory">

        <a data-caption="
                    Колекция: Soft
                    Описание:
                    Любимые вещи под надежной защитой.
                    Артикул: AC-018
                " href="img/catalog/accessories/inside18.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
                       src="img/catalog/accessories/inside18_min.jpg"></a>


    </div>
    <div class="catalog__item mix other other-accessory">

        <a data-caption="
                    Колекция: Soft
                    Описание:
                    Многофункциональный остров удобно использовать для хранения различных аксессуаров и мелких вещей.
                    Артикул: AC-019
                " href="img/catalog/accessories/inside19.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
                       src="img/catalog/accessories/inside19_min.jpg"></a>


    </div>
    <div class="catalog__item mix other other-accessory">

        <a data-caption="
                    Колекция: Soft
                    Описание:
                    Наличие торцевой подсветки завораживает и украшает гардеробную комнату.
                    Артикул: AC-020
                " href="img/catalog/accessories/inside20.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
                       src="img/catalog/accessories/inside20_min.jpg"></a>


    </div>
    <div class="catalog__item mix other other-accessory">

        <a data-caption="
                    Колекция: Soft
                    Описание:
                    Продуманные решения для удобного хранения.
                    Артикул: AC-021
                " href="img/catalog/accessories/inside21.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
                       src="img/catalog/accessories/inside21_min.jpg"></a>


    </div>
    <div class="catalog__item mix other other-accessory">

        <a data-caption="
                    Колекция: Soft
                    Описание:
                    Необычное использование выдвижной брючницы.
                    Артикул: AC-022
                " href="img/catalog/accessories/inside22.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
                       src="img/catalog/accessories/inside22_min.jpg"></a>


    </div>
    <div class="catalog__item mix other other-accessory">

        <a data-caption="
                    Колекция: Soft
                    Описание:
                    Выдвижная галстучница.
                    Артикул: AC-023
                " href="img/catalog/accessories/inside23.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
                       src="img/catalog/accessories/inside23_min.jpg"></a>


    </div>
    <div class="catalog__item mix other other-accessory">

        <a data-caption="
                    Колекция: Soft
                    Описание:
                    Продуманные решения для удобного хранения.
                    Артикул: AC-024
                " href="img/catalog/accessories/inside24.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
                       src="img/catalog/accessories/inside24_min.jpg"></a>


    </div>
    <div class="catalog__item mix other other-accessory">

        <a data-caption="
                    Колекция: Soft
                    Описание:
                    Продуманные решения для удобного хранения.
                    Артикул: AC-025
                " href="img/catalog/accessories/inside25.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
                       src="img/catalog/accessories/inside25_min.jpg"></a>


    </div>
    <div class="catalog__item mix other other-accessory">

        <a data-caption="
                    Колекция: Soft
                    Описание:
                    Продуманные решения для удобного хранения.
                    Артикул: AC-026
                " href="img/catalog/accessories/inside26.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
                       src="img/catalog/accessories/inside26_min.jpg"></a>


    </div>
    <div class="catalog__item mix other other-accessory">

        <a data-caption="
                    Колекция: Soft
                    Описание:
                    Продуманные решения для удобного хранения.
                    Артикул: AC-027
                " href="img/catalog/accessories/inside27.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
                       src="img/catalog/accessories/inside27_min.jpg"></a>


    </div>
    <div class="catalog__item mix other other-backlight">

        <a data-caption="
                    Колекция: Light
                    Описание:
                    Наличие подсветки завораживает и украшает.
                    Артикул: BL-001
                " href="img/catalog/backlight/backlight-1.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
                       src="img/catalog/backlight/backlight-1_min.jpg"></a>


    </div>
    <div class="catalog__item mix other other-backlight">

        <a data-caption="
                    Колекция: Light
                    Описание:
                    Наличие подсветки завораживает и украшает.
                    Артикул: BL-002
                " href="img/catalog/backlight/backlight-2.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
                       src="img/catalog/backlight/backlight-2_min.jpg"></a>


    </div>
    <div class="catalog__item mix other other-backlight">

        <a data-caption="
                    Колекция: Light
                    Описание:
                    Наличие подсветки завораживает и украшает.
                    Артикул: BL-003
                " href="img/catalog/backlight/backlight-3.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
                       src="img/catalog/backlight/backlight-3_min.jpg"></a>


    </div>
    <div class="catalog__item mix other other-backlight" style="display: none;">

        <a data-caption="
                    Колекция: Light
                    Описание:
                    Наличие подсветки завораживает и украшает.
                    Артикул: BL-004
                " href="img/catalog/backlight/backlight-4.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
                       src="img/catalog/backlight/backlight-4_min.jpg"></a>


    </div>
    <div class="catalog__item mix other other-backlight" style="display: none;">

        <a data-caption="
                    Колекция: Light
                    Описание:
                    Наличие подсветки завораживает и украшает.
                    Артикул: BL-005
                " href="img/catalog/backlight/backlight-5.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
                       src="img/catalog/backlight/backlight-5_min.jpg"></a>


    </div>
    <div class="catalog__item mix other other-backlight" style="display: none;">

        <a data-caption="
                    Колекция: Light
                    Описание:
                    Наличие подсветки завораживает и украшает.
                    Артикул: BL-006
                " href="img/catalog/backlight/backlight-6.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
                       src="img/catalog/backlight/backlight-6_min.jpg"></a>


    </div>
    <div class="catalog__item mix other other-backlight" style="display: none;">

        <a data-caption="
                    Колекция: Light
                    Описание:
                    Наличие подсветки завораживает и украшает.
                    Артикул: BL-007
                " href="img/catalog/backlight/backlight-7.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
                       src="img/catalog/backlight/backlight-7_min.jpg"></a>


    </div>
    <div class="catalog__item mix other other-backlight" style="display: none;">

        <a data-caption="
                    Колекция: Light
                    Описание:
                    Наличие подсветки завораживает и украшает.
                    Артикул: BL-008
                " href="img/catalog/backlight/backlight-8.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
                       src="img/catalog/backlight/backlight-8_min.jpg"></a>


    </div>
    <div class="catalog__item mix other other-backlight" style="display: none;">

        <a data-caption="
                    Колекция: Light
                    Описание:
                    Наличие подсветки завораживает и украшает.
                    Артикул: BL-009
                " href="img/catalog/backlight/backlight-9.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
                       src="img/catalog/backlight/backlight-9_min.jpg"></a>


    </div>
    <div class="catalog__item mix other other-backlight" style="display: none;">

        <a data-caption="
                    Колекция: Light
                    Описание:
                    Наличие подсветки завораживает и украшает.
                    Артикул: BL-010
                " href="img/catalog/backlight/backlight-10.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
                       src="img/catalog/backlight/backlight-10_min.jpg"></a>


    </div>
    <div class="catalog__item mix other other-backlight" style="display: none;">

        <a data-caption="
                    Колекция: Light
                    Описание:
                    Наличие подсветки завораживает и украшает.
                    Артикул: BL-011
                " href="img/catalog/backlight/backlight-11.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
                       src="img/catalog/backlight/backlight-11_min.jpg"></a>


    </div>
    <div class="catalog__item mix other other-backlight" style="display: none;">

        <a data-caption="
                    Колекция: Light
                    Описание:
                    Наличие подсветки завораживает и украшает.
                    Артикул: BL-012
                " href="img/catalog/backlight/backlight-12.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
                       src="img/catalog/backlight/backlight-12_min.jpg"></a>


    </div>
    <div class="catalog__item mix other other-backlight" style="display: none;">

        <a data-caption="
                    Колекция: Light
                    Описание:
                    Наличие подсветки завораживает и украшает.
                    Артикул: BL-013
                " href="img/catalog/backlight/backlight-13.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
                       src="img/catalog/backlight/backlight-13_min.jpg"></a>


    </div>
    <div class="catalog__item mix other other-backlight" style="display: none;">

        <a data-caption="
                    Колекция: Light
                    Описание:
                    Наличие подсветки завораживает и украшает.
                    Артикул: BL-014
                " href="img/catalog/backlight/backlight-14.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
                       src="img/catalog/backlight/backlight-14_min.jpg"></a>


    </div>
    <div class="catalog__item mix other other-backlight" style="display: none;">

        <a data-caption="
                    Колекция: Light
                    Описание:
                    Наличие подсветки завораживает и украшает.
                    Артикул: BL-015
                " href="img/catalog/backlight/backlight-15.jpg" itemprop="contentUrl"><img alt="Миниатюра" class="catalog__img lazy" itemprop="thumbnail"
                       src="img/catalog/backlight/backlight-15_min.jpg"></a>


    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        repaintMode();
    });
</script>
