<div class="detailfilter detailfilter-wardrobe">
    <div class="section">
        <div class="section-heading">Стиль</div>
        <ul class="option" data-filter-group="wardrobe-style">
            <li>
                <button class="all" data-filter="">Все</button>
            </li>
            <li>
                <button class="modern" data-filter=".wardrobe-modern">Современные</button>
            </li>
            <li>
                <button class="classic" data-filter=".wardrobe-classic">Классические</button>
            </li>
            <li>
                <button class="neo" data-filter=".wardrobe-neo">Неоклассика</button>
            </li>
        </ul>
    </div>
</div>

<div class="catalog__list">
    <div class="catalog__item mix wardrobe wardrobe-classic">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="img/catalog/wardrobe/closets_cl13_min.jpg">
            <a class="collection-name" href="#wardrobe">soft</a>
        </div>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-classic">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="img/catalog/wardrobe/closets_cl14_min.jpg">
            <a class="collection-name" href="#wardrobe">soft</a>
        </div>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-classic wardrobe-neo">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="img/catalog/wardrobe/closets_cl15_min.jpg">
            <a class="collection-name" href="#wardrobe">soft</a>
        </div>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-classic">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="img/catalog/wardrobe/closets_cl02_min.jpg">
            <a class="collection-name" href="#wardrobe">soft</a>
        </div>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-classic">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="img/catalog/wardrobe/closets_cl01_min.jpg">
            <a class="collection-name" href="#wardrobe">soft</a>
        </div>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-classic wardrobe-neo">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="img/catalog/wardrobe/closets_cl07_min.jpg">
            <a class="collection-name" href="#wardrobe">soft</a>
        </div>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-classic">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="img/catalog/wardrobe/closets_cl03_min.jpg">
            <a class="collection-name" href="#wardrobe">soft</a>
        </div>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-classic wardrobe-neo">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="img/catalog/wardrobe/closets_cl11_min.jpg">
            <a class="collection-name" href="#wardrobe">soft</a>
        </div>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-classic wardrobe-neo">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="img/catalog/wardrobe/closets_cl16_min.jpg">
            <a class="collection-name" href="#wardrobe">soft</a>
        </div>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-classic wardrobe-neo">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="img/catalog/wardrobe/closets_cl08_min.jpg">
            <a class="collection-name" href="#wardrobe">soft</a>
        </div>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-classic wardrobe-neo">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="img/catalog/wardrobe/closets_cl06_min.jpg">
            <a class="collection-name" href="#wardrobe">soft</a>
        </div>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-classic wardrobe-neo">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="img/catalog/wardrobe/closets_cl05_min.jpg">
            <a class="collection-name" href="#wardrobe">soft</a>
        </div>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-classic wardrobe-neo">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="img/catalog/wardrobe/closets_cl04_min.jpg">
            <a class="collection-name" href="#wardrobe">soft</a>
        </div>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-classic">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="img/catalog/wardrobe/closets_cl09_min.jpg">
            <a class="collection-name" href="#wardrobe">soft</a>
        </div>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-classic">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="img/catalog/wardrobe/closets_cl10_min.jpg">
            <a class="collection-name" href="#wardrobe">soft</a>
        </div>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-classic wardrobe-neo">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="img/catalog/wardrobe/closets_cl12_min.jpg">
            <a class="collection-name" href="#wardrobe">soft</a>
        </div>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-classic wardrobe-neo">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="img/catalog/wardrobe/closets_cl20_min.jpg">
            <a class="collection-name" href="#wardrobe">soft</a>
        </div>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-classic wardrobe-neo">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="img/catalog/wardrobe/closets_cl28_min.jpg">
            <a class="collection-name" href="#wardrobe">soft</a>
        </div>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-classic wardrobe-neo">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="img/catalog/wardrobe/closets_cl30_min.jpg">
            <a class="collection-name" href="#wardrobe">soft</a>
        </div>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-classic">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="img/catalog/wardrobe/closets_cl18_min.jpg">
            <a class="collection-name" href="#wardrobe">soft</a>
        </div>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-classic">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="img/catalog/wardrobe/closets_cl19_min.jpg">
            <a class="collection-name" href="#wardrobe">soft</a>
        </div>
    </div>

    <div class="catalog__item mix wardrobe wardrobe-modern">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="img/catalog/wardrobe/closets_md01_min.jpg">
            <a class="collection-name" href="#wardrobe">soft</a>
        </div>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-modern">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="img/catalog/wardrobe/closets_md02_min.jpg">
            <a class="collection-name" href="#wardrobe">soft</a>
        </div>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-modern">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="img/catalog/wardrobe/closets_md03_min.jpg">
            <a class="collection-name" href="#wardrobe">soft</a>
        </div>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-modern">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="img/catalog/wardrobe/closets_md04_min.jpg">
            <a class="collection-name" href="#wardrobe">soft</a>
        </div>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-modern">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="img/catalog/wardrobe/closets_md33_min.jpg">
            <a class="collection-name" href="#wardrobe">soft</a>
        </div>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-modern">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="img/catalog/wardrobe/closets_md07_min.jpg">
            <a class="collection-name" href="#wardrobe">soft</a>
        </div>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-modern">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="img/catalog/wardrobe/closets_md05_min.jpg">
            <a class="collection-name" href="#wardrobe">soft</a>
        </div>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-modern">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="img/catalog/wardrobe/closets_md06_min.jpg">
            <a class="collection-name" href="#wardrobe">soft</a>
        </div>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-modern">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="img/catalog/wardrobe/closets_md34_min.jpg">
            <a class="collection-name" href="#wardrobe">soft</a>
        </div>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-modern">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="img/catalog/wardrobe/closets_md09_min.jpg">
            <a class="collection-name" href="#wardrobe">soft</a>
        </div>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-modern">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="img/catalog/wardrobe/closets_md10_min.jpg">
            <a class="collection-name" href="#wardrobe">soft</a>
        </div>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-modern">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="img/catalog/wardrobe/closets_md11_min.jpg">
            <a class="collection-name" href="#wardrobe">soft</a>
        </div>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-modern">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="img/catalog/wardrobe/closets_md38_min.jpg">
            <a class="collection-name" href="#wardrobe">soft</a>
        </div>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-modern">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="img/catalog/wardrobe/closets_md35_min.jpg">
            <a class="collection-name" href="#wardrobe">soft</a>
        </div>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-modern">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="img/catalog/wardrobe/closets_md12_min.jpg">
            <a class="collection-name" href="#wardrobe">soft</a>
        </div>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-modern">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="img/catalog/wardrobe/closets_md36_min.jpg">
            <a class="collection-name" href="#wardrobe">soft</a>
        </div>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-modern">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="img/catalog/wardrobe/closets_md37_min.jpg">
            <a class="collection-name" href="#wardrobe">soft</a>
        </div>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-modern">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="img/catalog/wardrobe/closets_md31_min.jpg">
            <a class="collection-name" href="#wardrobe">soft</a>
        </div>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-modern">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="img/catalog/wardrobe/closets_md13_min.jpg">
            <a class="collection-name" href="#wardrobe">soft</a>
        </div>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-modern">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="img/catalog/wardrobe/closets_md14_min.jpg">
            <a class="collection-name" href="#wardrobe">soft</a>
        </div>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-modern">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="img/catalog/wardrobe/closets_md15_min.jpg">
            <a class="collection-name" href="#wardrobe">soft</a>
        </div>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-modern">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="img/catalog/wardrobe/closets_md17_min.jpg">
            <a class="collection-name" href="#wardrobe">soft</a>
        </div>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-modern">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="img/catalog/wardrobe/closets_md18_min.jpg">
            <a class="collection-name" href="#wardrobe">soft</a>
        </div>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-modern">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="img/catalog/wardrobe/closets_md16_min.jpg">
            <a class="collection-name" href="#wardrobe">soft</a>
        </div>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-modern">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="img/catalog/wardrobe/closets_md30_min.jpg">
            <a class="collection-name" href="#wardrobe">soft</a>
        </div>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-modern">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="img/catalog/wardrobe/closets_md26_min.jpg">
            <a class="collection-name" href="#wardrobe">soft</a>
        </div>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-modern">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="img/catalog/wardrobe/closets_md32_min.jpg">
            <a class="collection-name" href="#wardrobe">soft</a>
        </div>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-modern">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="img/catalog/wardrobe/closets_md20_min.jpg">
            <a class="collection-name" href="#wardrobe">soft</a>
        </div>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-modern">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="img/catalog/wardrobe/closets_md21_min.jpg">
            <a class="collection-name" href="#wardrobe">soft</a>
        </div>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-modern">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="img/catalog/wardrobe/closets_md22_min.jpg">
            <a class="collection-name" href="#wardrobe">soft</a>
        </div>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-modern">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="img/catalog/wardrobe/closets_md23_min.jpg">
            <a class="collection-name" href="#wardrobe">soft</a>
        </div>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-modern">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="img/catalog/wardrobe/closets_md24_min.jpg">
            <a class="collection-name" href="#wardrobe">soft</a>
        </div>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-modern">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="img/catalog/wardrobe/closets_md25_min.jpg">
            <a class="collection-name" href="#wardrobe">soft</a>
        </div>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-modern">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="img/catalog/wardrobe/closets_md28_min.jpg">
            <a class="collection-name" href="#wardrobe">soft</a>
        </div>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-modern">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="img/catalog/wardrobe/closets_md29_min.jpg">
            <a class="collection-name" href="#wardrobe">soft</a>
        </div>
    </div>
    <div class="catalog__item mix wardrobe wardrobe-modern">
        <div class="wrapper">
            <img alt="" class="catalog__img lazy" src="img/catalog/wardrobe/closets_md08_min.jpg">
            <a class="collection-name" href="#wardrobe">soft</a>
        </div>
    </div>
</div>

<div class="catalog__popup popup mfp-hide" id="wardrobe">
    <div class="popup__slider">
        <div class="popup__slide mix wardrobe wardrobe-classic">
            <a class="popup__slide-link lazy" data-src="img/catalog/wardrobe/closets_cl13.jpg"
               href="img/catalog/wardrobe/closets_cl13.jpg"></a>
        </div>
        <div class="popup__slide mix wardrobe wardrobe-classic">
            <a class="popup__slide-link lazy" data-src="img/catalog/wardrobe/closets_cl14.jpg"
               href="img/catalog/wardrobe/closets_cl14.jpg"></a>
        </div>
        <div class="popup__slide mix wardrobe wardrobe-classic wardrobe-neo">
            <a class="popup__slide-link lazy" data-src="img/catalog/wardrobe/closets_cl15.jpg"
               href="img/catalog/wardrobe/closets_cl15.jpg"></a>
        </div>
        <div class="popup__slide mix wardrobe wardrobe-classic">
            <a class="popup__slide-link lazy" data-src="img/catalog/wardrobe/closets_cl02.jpg"
               href="img/catalog/wardrobe/closets_cl02.jpg"></a>
        </div>
        <div class="popup__slide mix wardrobe wardrobe-classic">
            <a class="popup__slide-link lazy" data-src="img/catalog/wardrobe/closets_cl01.jpg"
               href="img/catalog/wardrobe/closets_cl01.jpg"></a>
        </div>
        <div class="popup__slide mix wardrobe wardrobe-classic wardrobe-neo">
            <a class="popup__slide-link lazy" data-src="img/catalog/wardrobe/closets_cl07.jpg"
               href="img/catalog/wardrobe/closets_cl07.jpg"></a>
        </div>
        <div class="popup__slide mix wardrobe wardrobe-classic">
            <a class="popup__slide-link lazy" data-src="img/catalog/wardrobe/closets_cl03.jpg"
               href="img/catalog/wardrobe/closets_cl03.jpg"></a>
        </div>
        <div class="popup__slide mix wardrobe wardrobe-classic wardrobe-neo">
            <a class="popup__slide-link lazy" data-src="img/catalog/wardrobe/closets_cl11.jpg"
               href="img/catalog/wardrobe/closets_cl11.jpg"></a>
        </div>
        <div class="popup__slide mix wardrobe wardrobe-classic wardrobe-neo">
            <a class="popup__slide-link lazy" data-src="img/catalog/wardrobe/closets_cl16.jpg"
               href="img/catalog/wardrobe/closets_cl16.jpg"></a>
        </div>
        <div class="popup__slide mix wardrobe wardrobe-classic wardrobe-neo">
            <a class="popup__slide-link lazy" data-src="img/catalog/wardrobe/closets_cl08.jpg"
               href="img/catalog/wardrobe/closets_cl08.jpg"></a>
        </div>
        <div class="popup__slide mix wardrobe wardrobe-classic wardrobe-neo">
            <a class="popup__slide-link lazy" data-src="img/catalog/wardrobe/closets_cl06.jpg"
               href="img/catalog/wardrobe/closets_cl06.jpg"></a>
        </div>
        <div class="popup__slide mix wardrobe wardrobe-classic wardrobe-neo">
            <a class="popup__slide-link lazy" data-src="img/catalog/wardrobe/closets_cl05.jpg"
               href="img/catalog/wardrobe/closets_cl05.jpg"></a>
        </div>
        <div class="popup__slide mix wardrobe wardrobe-classic wardrobe-neo">
            <a class="popup__slide-link lazy" data-src="img/catalog/wardrobe/closets_cl04.jpg"
               href="img/catalog/wardrobe/closets_cl04.jpg"></a>
        </div>
        <div class="popup__slide mix wardrobe wardrobe-classic">
            <a class="popup__slide-link lazy" data-src="img/catalog/wardrobe/closets_cl09.jpg"
               href="img/catalog/wardrobe/closets_cl09.jpg"></a>
        </div>
        <div class="popup__slide mix wardrobe wardrobe-classic">
            <a class="popup__slide-link lazy" data-src="img/catalog/wardrobe/closets_cl10.jpg"
               href="img/catalog/wardrobe/closets_cl10.jpg"></a>
        </div>
        <div class="popup__slide mix wardrobe wardrobe-classic wardrobe-neo">
            <a class="popup__slide-link lazy" data-src="img/catalog/wardrobe/closets_cl12.jpg"
               href="img/catalog/wardrobe/closets_cl12.jpg"></a>
        </div>
        <div class="popup__slide mix wardrobe wardrobe-classic wardrobe-neo">
            <a class="popup__slide-link lazy" data-src="img/catalog/wardrobe/closets_cl20.jpg"
               href="img/catalog/wardrobe/closets_cl20.jpg"></a>
        </div>
        <div class="popup__slide mix wardrobe wardrobe-classic wardrobe-neo">
            <a class="popup__slide-link lazy" data-src="img/catalog/wardrobe/closets_cl28.jpg"
               href="img/catalog/wardrobe/closets_cl28.jpg"></a>
        </div>
        <div class="popup__slide mix wardrobe wardrobe-classic wardrobe-neo">
            <a class="popup__slide-link lazy" data-src="img/catalog/wardrobe/closets_cl30.jpg"
               href="img/catalog/wardrobe/closets_cl30.jpg"></a>
        </div>
        <div class="popup__slide mix wardrobe wardrobe-classic">
            <a class="popup__slide-link lazy" data-src="img/catalog/wardrobe/closets_cl18.jpg"
               href="img/catalog/wardrobe/closets_cl18.jpg"></a>
        </div>
        <div class="popup__slide mix wardrobe wardrobe-classic wardrobe-neo">
            <a class="popup__slide-link lazy" data-src="img/catalog/wardrobe/closets_cl19.jpg"
               href="img/catalog/wardrobe/closets_cl19.jpg"></a>
        </div>

        <div class="popup__slide mix wardrobe wardrobe-modern">
            <a class="popup__slide-link lazy" data-src="img/catalog/wardrobe/closets_md01.jpg"
               href="img/catalog/wardrobe/closets_md01.jpg"></a>
        </div>
        <div class="popup__slide mix wardrobe wardrobe-modern">
            <a class="popup__slide-link lazy" data-src="img/catalog/wardrobe/closets_md02.jpg"
               href="img/catalog/wardrobe/closets_md02.jpg"></a>
        </div>
        <div class="popup__slide mix wardrobe wardrobe-modern">
            <a class="popup__slide-link lazy" data-src="img/catalog/wardrobe/closets_md03.jpg"
               href="img/catalog/wardrobe/closets_md03.jpg"></a>
        </div>
        <div class="popup__slide mix wardrobe wardrobe-modern">
            <a class="popup__slide-link lazy" data-src="img/catalog/wardrobe/closets_md04.jpg"
               href="img/catalog/wardrobe/closets_md04.jpg"></a>
        </div>
        <div class="popup__slide mix wardrobe wardrobe-modern">
            <a class="popup__slide-link lazy" data-src="img/catalog/wardrobe/closets_md33.jpg"
               href="img/catalog/wardrobe/closets_md33.jpg"></a>
        </div>
        <div class="popup__slide mix wardrobe wardrobe-modern">
            <a class="popup__slide-link lazy" data-src="img/catalog/wardrobe/closets_md07.jpg"
               href="img/catalog/wardrobe/closets_md07.jpg"></a>
        </div>
        <div class="popup__slide mix wardrobe wardrobe-modern">
            <a class="popup__slide-link lazy" data-src="img/catalog/wardrobe/closets_md05.jpg"
               href="img/catalog/wardrobe/closets_md05.jpg"></a>
        </div>
        <div class="popup__slide mix wardrobe wardrobe-modern">
            <a class="popup__slide-link lazy" data-src="img/catalog/wardrobe/closets_md06.jpg"
               href="img/catalog/wardrobe/closets_md06.jpg"></a>
        </div>
        <div class="popup__slide mix wardrobe wardrobe-modern">
            <a class="popup__slide-link lazy" data-src="img/catalog/wardrobe/closets_md34.jpg"
               href="img/catalog/wardrobe/closets_md34.jpg"></a>
        </div>
        <div class="popup__slide mix wardrobe wardrobe-modern">
            <a class="popup__slide-link lazy" data-src="img/catalog/wardrobe/closets_md09.jpg"
               href="img/catalog/wardrobe/closets_md09.jpg"></a>
        </div>
        <div class="popup__slide mix wardrobe wardrobe-modern">
            <a class="popup__slide-link lazy" data-src="img/catalog/wardrobe/closets_md10.jpg"
               href="img/catalog/wardrobe/closets_md10.jpg"></a>
        </div>
        <div class="popup__slide mix wardrobe wardrobe-modern">
            <a class="popup__slide-link lazy" data-src="img/catalog/wardrobe/closets_md11.jpg"
               href="img/catalog/wardrobe/closets_md11.jpg"></a>
        </div>
        <div class="popup__slide mix wardrobe wardrobe-modern">
            <a class="popup__slide-link lazy" data-src="img/catalog/wardrobe/closets_md38.jpg"
               href="img/catalog/wardrobe/closets_md38.jpg"></a>
        </div>
        <div class="popup__slide mix wardrobe wardrobe-modern">
            <a class="popup__slide-link lazy" data-src="img/catalog/wardrobe/closets_md35.jpg"
               href="img/catalog/wardrobe/closets_md35.jpg"></a>
        </div>
        <div class="popup__slide mix wardrobe wardrobe-modern">
            <a class="popup__slide-link lazy" data-src="img/catalog/wardrobe/closets_md12.jpg"
               href="img/catalog/wardrobe/closets_md12.jpg"></a>
        </div>
        <div class="popup__slide mix wardrobe wardrobe-modern">
            <a class="popup__slide-link lazy" data-src="img/catalog/wardrobe/closets_md36.jpg"
               href="img/catalog/wardrobe/closets_md36.jpg"></a>
        </div>
        <div class="popup__slide mix wardrobe wardrobe-modern">
            <a class="popup__slide-link lazy" data-src="img/catalog/wardrobe/closets_md37.jpg"
               href="img/catalog/wardrobe/closets_md37.jpg"></a>
        </div>
        <div class="popup__slide mix wardrobe wardrobe-modern">
            <a class="popup__slide-link lazy" data-src="img/catalog/wardrobe/closets_md31.jpg"
               href="img/catalog/wardrobe/closets_md31.jpg"></a>
        </div>
        <div class="popup__slide mix wardrobe wardrobe-modern">
            <a class="popup__slide-link lazy" data-src="img/catalog/wardrobe/closets_md13.jpg"
               href="img/catalog/wardrobe/closets_md13.jpg"></a>
        </div>
        <div class="popup__slide mix wardrobe wardrobe-modern">
            <a class="popup__slide-link lazy" data-src="img/catalog/wardrobe/closets_md14.jpg"
               href="img/catalog/wardrobe/closets_md14.jpg"></a>
        </div>
        <div class="popup__slide mix wardrobe wardrobe-modern">
            <a class="popup__slide-link lazy" data-src="img/catalog/wardrobe/closets_md15.jpg"
               href="img/catalog/wardrobe/closets_md15.jpg"></a>
        </div>
        <div class="popup__slide mix wardrobe wardrobe-modern">
            <a class="popup__slide-link lazy" data-src="img/catalog/wardrobe/closets_md17.jpg"
               href="img/catalog/wardrobe/closets_md17.jpg"></a>
        </div>
        <div class="popup__slide mix wardrobe wardrobe-modern">
            <a class="popup__slide-link lazy" data-src="img/catalog/wardrobe/closets_md18.jpg"
               href="img/catalog/wardrobe/closets_md18.jpg"></a>
        </div>
        <div class="popup__slide mix wardrobe wardrobe-modern">
            <a class="popup__slide-link lazy" data-src="img/catalog/wardrobe/closets_md16.jpg"
               href="img/catalog/wardrobe/closets_md16.jpg"></a>
        </div>
        <div class="popup__slide mix wardrobe wardrobe-modern">
            <a class="popup__slide-link lazy" data-src="img/catalog/wardrobe/closets_md30.jpg"
               href="img/catalog/wardrobe/closets_md30.jpg"></a>
        </div>
        <div class="popup__slide mix wardrobe wardrobe-modern">
            <a class="popup__slide-link lazy" data-src="img/catalog/wardrobe/closets_md26.jpg"
               href="img/catalog/wardrobe/closets_md26.jpg"></a>
        </div>
        <div class="popup__slide mix wardrobe wardrobe-modern">
            <a class="popup__slide-link lazy" data-src="img/catalog/wardrobe/closets_md32.jpg"
               href="img/catalog/wardrobe/closets_md32.jpg"></a>
        </div>
        <div class="popup__slide mix wardrobe wardrobe-modern">
            <a class="popup__slide-link lazy" data-src="img/catalog/wardrobe/closets_md20.jpg"
               href="img/catalog/wardrobe/closets_md20.jpg"></a>
        </div>
        <div class="popup__slide mix wardrobe wardrobe-modern">
            <a class="popup__slide-link lazy" data-src="img/catalog/wardrobe/closets_md21.jpg"
               href="img/catalog/wardrobe/closets_md21.jpg"></a>
        </div>
        <div class="popup__slide mix wardrobe wardrobe-modern">
            <a class="popup__slide-link lazy" data-src="img/catalog/wardrobe/closets_md22.jpg"
               href="img/catalog/wardrobe/closets_md22.jpg"></a>
        </div>
        <div class="popup__slide mix wardrobe wardrobe-modern">
            <a class="popup__slide-link lazy" data-src="img/catalog/wardrobe/closets_md23.jpg"
               href="img/catalog/wardrobe/closets_md23.jpg"></a>
        </div>
        <div class="popup__slide mix wardrobe wardrobe-modern">
            <a class="popup__slide-link lazy" data-src="img/catalog/wardrobe/closets_md24.jpg"
               href="img/catalog/wardrobe/closets_md24.jpg"></a>
        </div>
        <div class="popup__slide mix wardrobe wardrobe-modern">
            <a class="popup__slide-link lazy" data-src="img/catalog/wardrobe/closets_md25.jpg"
               href="img/catalog/wardrobe/closets_md25.jpg"></a>
        </div>
        <div class="popup__slide mix wardrobe wardrobe-modern">
            <a class="popup__slide-link lazy" data-src="img/catalog/wardrobe/closets_md28.jpg"
               href="img/catalog/wardrobe/closets_md28.jpg"></a>
        </div>
        <div class="popup__slide mix wardrobe wardrobe-modern">
            <a class="popup__slide-link lazy" data-src="img/catalog/wardrobe/closets_md29.jpg"
               href="img/catalog/wardrobe/closets_md29.jpg"></a>
        </div>
        <div class="popup__slide mix wardrobe wardrobe-modern">
            <a class="popup__slide-link lazy" data-src="img/catalog/wardrobe/closets_md08.jpg"
               href="img/catalog/wardrobe/closets_md08.jpg"></a>
        </div>
    </div>
    <div class="popup__info">
        <div class="popup__desc">
            <div class="popup__desc-slider">
                <div class="poppup__desc-slide mix wardrobe wardrobe-classic">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Одежды не бывает много, важно обеспечить ее правильное хранение.
                    </div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">WC-013</div>
                    </div>
                    <div class="popup__price">
                        <div class="popup__price-key">Стоимость:</div>
                        <div class="popup__price-value">от 100 000 руб. за погонный метр</div>
                    </div>
                </div>
                <div class="poppup__desc-slide mix wardrobe wardrobe-classic">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Одежды не бывает много, важно обеспечить ее правильное хранение.
                    </div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">WC-014</div>
                    </div>
                    <div class="popup__price">
                        <div class="popup__price-key">Стоимость:</div>
                        <div class="popup__price-value">от 100 000 руб. за погонный метр</div>
                    </div>
                </div>
                <div class="poppup__desc-slide mix wardrobe wardrobe-classic wardrobe-neo">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Одежды не бывает много, важно обеспечить ее правильное хранение.
                    </div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">WC-015</div>
                    </div>
                    <div class="popup__price">
                        <div class="popup__price-key">Стоимость:</div>
                        <div class="popup__price-value">от 100 000 руб. за погонный метр</div>
                    </div>
                </div>
                <div class="poppup__desc-slide mix wardrobe wardrobe-classic">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Одежды не бывает много, важно обеспечить ее правильное хранение.
                    </div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">WC-002</div>
                    </div>
                    <div class="popup__price">
                        <div class="popup__price-key">Стоимость:</div>
                        <div class="popup__price-value">от 100 000 руб. за погонный метр</div>
                    </div>
                </div>
                <div class="poppup__desc-slide mix wardrobe wardrobe-classic">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Многофункциональный остров удобно использовать для хранения различных
                        аксессуаров и мелких вещей.
                    </div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">WC-001</div>
                    </div>
                    <div class="popup__price">
                        <div class="popup__price-key">Стоимость:</div>
                        <div class="popup__price-value">от 100 000 руб. за погонный метр</div>
                    </div>
                </div>
                <div class="poppup__desc-slide mix wardrobe wardrobe-classic wardrobe-neo">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Данная гардеробная выполнена в белом цвете в стиле неоклассика. Она
                        одновременно выдержана в рамках современных трендов и в то же время претендует на изысканный
                        аристократичный шик. Зеркальные фасады зрительно увеличивают помещение, а изящные решетки на
                        зеркалах делают гардеробную более изысканной.
                    </div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">WC-007</div>
                    </div>
                    <div class="popup__price">
                        <div class="popup__price-key">Стоимость:</div>
                        <div class="popup__price-value">от 100 000 руб. за погонный метр</div>
                    </div>
                </div>
                <div class="poppup__desc-slide mix wardrobe wardrobe-classic">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Классическая гардеробная выполнена в комбинированных цветах.
                        Внутренняя часть гардеробной реализована в белом цвете, а фасады в насыщенном шоколадном. За
                        счет этого сочетания, гардеробная выглядит оригинально и стильно. Резной карниз и фасады с
                        филенкой украшены патиной, фрезерованные пилястры декорированы фигурами.
                    </div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">WC-003</div>
                    </div>
                    <div class="popup__price">
                        <div class="popup__price-key">Стоимость:</div>
                        <div class="popup__price-value">от 100 000 руб. за погонный метр</div>
                    </div>
                </div>
                <div class="poppup__desc-slide mix wardrobe wardrobe-classic wardrobe-neo">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Гардеробная выполнена в стиле современной классики. Тут отсутствуют
                        излишне вычурные элементы декора, но в то же время, сохранены определенные классические
                        традиции. Стиль подчеркивают изящные филенки на фасадах, декор цоколя и карниза. А также,
                        аккуратная дизайнерская фрезеровка на зеркале.
                    </div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">WC-011</div>
                    </div>
                    <div class="popup__price">
                        <div class="popup__price-key">Стоимость:</div>
                        <div class="popup__price-value">от 100 000 руб. за погонный метр</div>
                    </div>
                </div>
                <div class="poppup__desc-slide mix wardrobe wardrobe-classic wardrobe-neo">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Одежды не бывает много, важно обеспечить ее правильное хранение.
                    </div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">WC-016</div>
                    </div>
                    <div class="popup__price">
                        <div class="popup__price-key">Стоимость:</div>
                        <div class="popup__price-value">от 100 000 руб. за погонный метр</div>
                    </div>
                </div>
                <div class="poppup__desc-slide mix wardrobe wardrobe-classic wardrobe-neo">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Белоснежная гардеробная в классическом стиле подчеркнет утонченный
                        вкус и высокий статус своих хозяев. Дизайнерские решетки на зеркалах и стеклянные полочки делают
                        гардеробную еще более изящной и легкой, а закрытый органайзер под прозрачным стеклом защитит
                        ваши вещи от пыли, не мешая их свободному обзору.
                    </div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">WC-008</div>
                    </div>
                    <div class="popup__price">
                        <div class="popup__price-key">Стоимость:</div>
                        <div class="popup__price-value">от 100 000 руб. за погонный метр</div>
                    </div>
                </div>
                <div class="poppup__desc-slide mix wardrobe wardrobe-classic wardrobe-neo">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Элегантная гардеробная выполнена в стиле неоклассика. За счет белого
                        цвета корпуса и фасадов, она зрительно увеличивает помещение, исключая ощущение «давящих стен».
                        Декорированный карниз и фасады с филенкой, делают гардеробную более притязательной и утонченной,
                        а отсутствие лишних цветов и декоров сохраняют лаконичность стиля.
                    </div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">WC-006</div>
                    </div>
                    <div class="popup__price">
                        <div class="popup__price-key">Стоимость:</div>
                        <div class="popup__price-value">от 100 000 руб. за погонный метр</div>
                    </div>
                </div>
                <div class="poppup__desc-slide mix wardrobe wardrobe-classic wardrobe-neo">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Данная гардеробная выполнена в стиле неоклассика. Закрытая часть
                        гардеробной защищает вещи от пыли, а стеклянные дверцы не мешают обзору. За счет матового стекла
                        сохраняется аккуратный и ухоженный вид гардеробной. Изящный карниз и фасады с филенкой придают
                        этой гардеробной особую аристократичность.
                    </div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">WC-005</div>
                    </div>
                    <div class="popup__price">
                        <div class="popup__price-key">Стоимость:</div>
                        <div class="popup__price-value">от 100 000 руб. за погонный метр</div>
                    </div>
                </div>
                <div class="poppup__desc-slide mix wardrobe wardrobe-classic wardrobe-neo">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Вариант исполнения традиционной модели гардеробной комнаты в белом
                        цвете ,визуально делает пространство просторным, добавляя ему частицу теплоты и уюта.
                    </div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">WC-004</div>
                    </div>
                    <div class="popup__price">
                        <div class="popup__price-key">Стоимость:</div>
                        <div class="popup__price-value">от 100 000 руб. за погонный метр</div>
                    </div>
                </div>
                <div class="poppup__desc-slide mix wardrobe wardrobe-classic">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Гардеробная комната выполнена в стиле классицизм и заключает в себе
                        гармонию утонченной классики и элегантных очертаний. Применение зеркальных фасадов сделало
                        интерьер более выразительным, а огромное количество всевозможных секций разных размеров, делают
                        ее максимально функциональной и помогают правильно организовать хранение вещей.
                    </div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">WC-009</div>
                    </div>
                    <div class="popup__price">
                        <div class="popup__price-key">Стоимость:</div>
                        <div class="popup__price-value">от 100 000 руб. за погонный метр</div>
                    </div>
                </div>
                <div class="poppup__desc-slide mix wardrobe wardrobe-classic">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Верхние секции гардеробной оформлены дизайнерскими арками. Полки
                        закрывают двери купе, две из которых оформлены филенками, а две – представляют собой зеркала,
                        зрительно увеличивающие помещение. Тут так же стоит обратить внимание на оригинальные ручки
                        дверей, которые удачно завершают классический стиль комнаты.
                    </div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">WC-010</div>
                    </div>
                    <div class="popup__price">
                        <div class="popup__price-key">Стоимость:</div>
                        <div class="popup__price-value">от 100 000 руб. за погонный метр</div>
                    </div>
                </div>
                <div class="poppup__desc-slide mix wardrobe wardrobe-classic wardrobe-neo">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Гардеробная выполнена в стиле неоклассика. Белый цвет корпуса и
                        фасадов зрительно делает комнату более просторной и светлой. Множество полок и выдвижных
                        органайзеров помогут обеспечить правильное хранение сразу большого количества вещей. Закрытые
                        фасады защищают их от пыли, а стеклянные дверцы обеспечат свободный обзор и удобство выбора.
                    </div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">WC-012</div>
                    </div>
                    <div class="popup__price">
                        <div class="popup__price-key">Стоимость:</div>
                        <div class="popup__price-value">от 100 000 руб. за погонный метр</div>
                    </div>
                </div>
                <div class="poppup__desc-slide mix wardrobe wardrobe-classic wardrobe-neo">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Одежды не бывает много, важно обеспечить ее правильное хранение.
                    </div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">WC-019</div>
                    </div>
                    <div class="popup__price">
                        <div class="popup__price-key">Стоимость:</div>
                        <div class="popup__price-value">от 100 000 руб. за погонный метр</div>
                    </div>
                </div>
                <div class="poppup__desc-slide mix wardrobe wardrobe-classic wardrobe-neo">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Одежды не бывает много, важно обеспечить ее правильное хранение.
                    </div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">WC-028</div>
                    </div>
                    <div class="popup__price">
                        <div class="popup__price-key">Стоимость:</div>
                        <div class="popup__price-value">от 100 000 руб. за погонный метр</div>
                    </div>
                </div>
                <div class="poppup__desc-slide mix wardrobe wardrobe-classic wardrobe-neo">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Одежды не бывает много, важно обеспечить ее правильное хранение.
                    </div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">WC-030</div>
                    </div>
                    <div class="popup__price">
                        <div class="popup__price-key">Стоимость:</div>
                        <div class="popup__price-value">от 100 000 руб. за погонный метр</div>
                    </div>
                </div>
                <div class="poppup__desc-slide mix wardrobe wardrobe-classic">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Одежды не бывает много, важно обеспечить ее правильное хранение.
                    </div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">WC-018</div>
                    </div>
                    <div class="popup__price">
                        <div class="popup__price-key">Стоимость:</div>
                        <div class="popup__price-value">от 100 000 руб. за погонный метр</div>
                    </div>
                </div>
                <div class="poppup__desc-slide mix wardrobe wardrobe-classic wardrobe-neo">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Одежды не бывает много, важно обеспечить ее правильное хранение.
                    </div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">WC-020</div>
                    </div>
                    <div class="popup__price">
                        <div class="popup__price-key">Стоимость:</div>
                        <div class="popup__price-value">от 100 000 руб. за погонный метр</div>
                    </div>
                </div>

                <div class="poppup__desc-slide mix wardrobe wardrobe-modern">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Гардеробная ELEGANCE выполнена в стиле модерн. За счет дизайнерского
                        цветового решения – светлый корпус и комбинированные фасады в молочном и шоколадном цветах,
                        гардеробная выглядит необычно и ярко. Традиционная П-образная конструкция с открытыми секциями
                        делает ее максимально удобной и функциональной.
                    </div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">WM-001</div>
                    </div>
                    <div class="popup__price">
                        <div class="popup__price-key">Стоимость:</div>
                        <div class="popup__price-value">от 70 000 руб. за погонный метр</div>
                    </div>
                </div>
                <div class="poppup__desc-slide mix wardrobe wardrobe-modern">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Открытая угловая секция позволяет максимально эффективно использовать
                        пространство. Наличие большого количества ящиков делает хранение вещей в нижнем ярусе более
                        удобным. Зеркало удачно выполнено в виде фасадов дверец шкафчиков. За счет исполнение корпуса в
                        светлых тонах, гардеробная выглядит легко и не перегружает пространство.
                    </div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">WM-002</div>
                    </div>
                    <div class="popup__price">
                        <div class="popup__price-key">Стоимость:</div>
                        <div class="popup__price-value">от 70 000 руб. за погонный метр</div>
                    </div>
                </div>
                <div class="poppup__desc-slide mix wardrobe wardrobe-modern">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Стеклянные полки делают гардеробную еще более современной и
                        необычной, одновременно облегчая ее и добавляя изящества. Также, они обеспечивают удобный
                        визуальный доступ к вещам. Специальные выдвижные органайзеры для хранения галстуков, ремней,
                        платков и аксессуаров, декорированы прозрачным тонированным стеклом.
                    </div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">WM-003</div>
                    </div>
                    <div class="popup__price">
                        <div class="popup__price-key">Стоимость:</div>
                        <div class="popup__price-value">от 70 000 руб. за погонный метр</div>
                    </div>
                </div>
                <div class="poppup__desc-slide mix wardrobe wardrobe-modern">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Одним из элементов декора современной гардеробной может стать
                        подсветка полок. Наличие торцевой подсветки не только украсит Вашу гардеробную, придав ей ауру
                        мистики и загадки, но и поможет облегчить поиск вещей в темное время суток.
                    </div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">WM-004</div>
                    </div>
                    <div class="popup__price">
                        <div class="popup__price-key">Стоимость:</div>
                        <div class="popup__price-value">от 70 000 руб. за погонный метр</div>
                    </div>
                </div>
                <div class="poppup__desc-slide mix wardrobe wardrobe-modern">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Гардеробная в стиле модерн.</div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">WM-033</div>
                    </div>
                    <div class="popup__price">
                        <div class="popup__price-key">Стоимость:</div>
                        <div class="popup__price-value">от 70 000 руб. за погонный метр</div>
                    </div>
                </div>
                <div class="poppup__desc-slide mix wardrobe wardrobe-modern">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Стеклянные дверцы гардеробной защищают вещи от окружающей среды, при
                        этом, не ограничивая визуальный обзор. Тонировка в тон фасадов придает комнате уникальный стиль
                        и презентабельность. Открытые нижние полки удобно использовать для хранения обуви или объемных
                        вещей.
                    </div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">WM-007</div>
                    </div>
                    <div class="popup__price">
                        <div class="popup__price-key">Стоимость:</div>
                        <div class="popup__price-value">от 70 000 руб. за погонный метр</div>
                    </div>
                </div>
                <div class="poppup__desc-slide mix wardrobe wardrobe-modern">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Ультрасовременная гардеробная LOFT выполнена в темных тонах с узкими
                        вертикальными стойками – новый тренд в построении гардеробных. Фасады из черного стекла
                        добавляют ей выразительности, подчеркивая ваш статус и непревзойденный вкус.
                    </div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">WM-005</div>
                    </div>
                    <div class="popup__price">
                        <div class="popup__price-key">Стоимость:</div>
                        <div class="popup__price-value">от 70 000 руб. за погонный метр</div>
                    </div>
                </div>
                <div class="poppup__desc-slide mix wardrobe wardrobe-modern">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Уникальная конструкция, объединяющая в себе узкие стойки с вешалом,
                        модуль с небольшими ячейками, верхние и нижние ярусы с вместительными полками - позволяет
                        максимально удобно разместить самые разные элементы Вашего гардероба. Оригинальная конструкция
                        полок под сорочки и трикотаж позволяет облегчить выбор нужного предмета одежды.
                    </div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">WM-006</div>
                    </div>
                    <div class="popup__price">
                        <div class="popup__price-key">Стоимость:</div>
                        <div class="popup__price-value">от 70 000 руб. за погонный метр</div>
                    </div>
                </div>
                <div class="poppup__desc-slide mix wardrobe wardrobe-modern">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Гардеробная в стиле модерн.</div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">WM-034</div>
                    </div>
                    <div class="popup__price">
                        <div class="popup__price-key">Стоимость:</div>
                        <div class="popup__price-value">от 70 000 руб. за погонный метр</div>
                    </div>
                </div>
                <div class="poppup__desc-slide mix wardrobe wardrobe-modern">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Порядок в гардеробной – это большая экономия Вашего времени и сил.
                        Грамотно спроектированная гардеробная из коллекции SOFT с островом, подсветкой, функциональным
                        распределением полок и выдвижных ящиков, обеспечивает хороший обзор и быстрый доступ к вещам.
                    </div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">WM-009</div>
                    </div>
                    <div class="popup__price">
                        <div class="popup__price-key">Стоимость:</div>
                        <div class="popup__price-value">от 70 000 руб. за погонный метр</div>
                    </div>
                </div>
                <div class="poppup__desc-slide mix wardrobe wardrobe-modern">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Современная гардеробная выполнена в цвете «орех». Мы продумали до
                        мелочей максимально комфортное хранение всех ваших вещей. Для костюмов и рубашек есть невысокие
                        вешалки. Мелкие предметы удобно хранить в выдвижном органайзере с прозрачным фасадом. Есть
                        специальное место для гладильной доски и полочки для трикотажа и белья.
                    </div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">WM-010</div>
                    </div>
                    <div class="popup__price">
                        <div class="popup__price-key">Стоимость:</div>
                        <div class="popup__price-value">от 70 000 руб. за погонный метр</div>
                    </div>
                </div>
                <div class="poppup__desc-slide mix wardrobe wardrobe-modern">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Элегантный деловой интерьер гардеробной, в которой нет ничего
                        лишнего. Выдвижные брючницы удобно использовать для хранения шарфов, платков и палантинов. Для
                        галстуков есть выдвижная галстучница. Специальное покрытие брючницы и галстучницы не позволяет
                        вещам падать вниз.
                    </div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">WM-011</div>
                    </div>
                    <div class="popup__price">
                        <div class="popup__price-key">Стоимость:</div>
                        <div class="popup__price-value">от 70 000 руб. за погонный метр</div>
                    </div>
                </div>
                <div class="poppup__desc-slide mix wardrobe wardrobe-modern">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Гардеробная в стиле модерн.</div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">WM-038</div>
                    </div>
                    <div class="popup__price">
                        <div class="popup__price-key">Стоимость:</div>
                        <div class="popup__price-value">от 70 000 руб. за погонный метр</div>
                    </div>
                </div>
                <div class="poppup__desc-slide mix wardrobe wardrobe-modern">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Гардеробная в стиле модерн.</div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">WM-035</div>
                    </div>
                    <div class="popup__price">
                        <div class="popup__price-key">Стоимость:</div>
                        <div class="popup__price-value">от 70 000 руб. за погонный метр</div>
                    </div>
                </div>
                <div class="poppup__desc-slide mix wardrobe wardrobe-modern">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Большая площадь гардеробной SOFT позволяет удачно разместить в ее
                        центре многофункциональный остров. Его удобно использовать для хранения различных аксессуаров и
                        мелких вещей. Стеклянные фасады ящиков и прозрачная столешница упрощают поиск нужных вещей.
                    </div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">WM-012</div>
                    </div>
                    <div class="popup__price">
                        <div class="popup__price-key">Стоимость:</div>
                        <div class="popup__price-value">от 70 000 руб. за погонный метр</div>
                    </div>
                </div>
                <div class="poppup__desc-slide mix wardrobe wardrobe-modern">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Гардеробная в стиле модерн.</div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">WM-036</div>
                    </div>
                    <div class="popup__price">
                        <div class="popup__price-key">Стоимость:</div>
                        <div class="popup__price-value">от 70 000 руб. за погонный метр</div>
                    </div>
                </div>
                <div class="poppup__desc-slide mix wardrobe wardrobe-modern">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Гардеробная в стиле модерн.</div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">WM-037</div>
                    </div>
                    <div class="popup__price">
                        <div class="popup__price-key">Стоимость:</div>
                        <div class="popup__price-value">от 70 000 руб. за погонный метр</div>
                    </div>
                </div>
                <div class="poppup__desc-slide mix wardrobe wardrobe-modern">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Гардеробная в стиле модерн.</div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">WM-031</div>
                    </div>
                    <div class="popup__price">
                        <div class="popup__price-key">Стоимость:</div>
                        <div class="popup__price-value">от 70 000 руб. за погонный метр</div>
                    </div>
                </div>
                <div class="poppup__desc-slide mix wardrobe wardrobe-modern">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Гардеробная в стиле модерн.</div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">WM-013</div>
                    </div>
                    <div class="popup__price">
                        <div class="popup__price-key">Стоимость:</div>
                        <div class="popup__price-value">от 70 000 руб. за погонный метр</div>
                    </div>
                </div>
                <div class="poppup__desc-slide mix wardrobe wardrobe-modern">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Гардеробная в стиле модерн.</div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">WM-014</div>
                    </div>
                    <div class="popup__price">
                        <div class="popup__price-key">Стоимость:</div>
                        <div class="popup__price-value">от 70 000 руб. за погонный метр</div>
                    </div>
                </div>
                <div class="poppup__desc-slide mix wardrobe wardrobe-modern">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Гардеробная в стиле модерн.</div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">WM-015</div>
                    </div>
                    <div class="popup__price">
                        <div class="popup__price-key">Стоимость:</div>
                        <div class="popup__price-value">от 70 000 руб. за погонный метр</div>
                    </div>
                </div>
                <div class="poppup__desc-slide mix wardrobe wardrobe-modern">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Гардеробная в стиле модерн.</div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">WM-017</div>
                    </div>
                    <div class="popup__price">
                        <div class="popup__price-key">Стоимость:</div>
                        <div class="popup__price-value">от 70 000 руб. за погонный метр</div>
                    </div>
                </div>
                <div class="poppup__desc-slide mix wardrobe wardrobe-modern">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Гардеробная в стиле модерн.</div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">WM-018</div>
                    </div>
                    <div class="popup__price">
                        <div class="popup__price-key">Стоимость:</div>
                        <div class="popup__price-value">от 70 000 руб. за погонный метр</div>
                    </div>
                </div>
                <div class="poppup__desc-slide mix wardrobe wardrobe-modern">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Гардеробная в стиле модерн.</div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">WM-016</div>
                    </div>
                    <div class="popup__price">
                        <div class="popup__price-key">Стоимость:</div>
                        <div class="popup__price-value">от 70 000 руб. за погонный метр</div>
                    </div>
                </div>
                <div class="poppup__desc-slide mix wardrobe wardrobe-modern">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Гардеробная в стиле модерн.</div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">WM-030</div>
                    </div>
                    <div class="popup__price">
                        <div class="popup__price-key">Стоимость:</div>
                        <div class="popup__price-value">от 70 000 руб. за погонный метр</div>
                    </div>
                </div>
                <div class="poppup__desc-slide mix wardrobe wardrobe-modern">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Гардеробная в стиле модерн.</div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">WM-026</div>
                    </div>
                    <div class="popup__price">
                        <div class="popup__price-key">Стоимость:</div>
                        <div class="popup__price-value">от 70 000 руб. за погонный метр</div>
                    </div>
                </div>
                <div class="poppup__desc-slide mix wardrobe wardrobe-modern">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Гардеробная в стиле модерн.</div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">WM-032</div>
                    </div>
                    <div class="popup__price">
                        <div class="popup__price-key">Стоимость:</div>
                        <div class="popup__price-value">от 70 000 руб. за погонный метр</div>
                    </div>
                </div>
                <div class="poppup__desc-slide mix wardrobe wardrobe-modern">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Гардеробная в стиле модерн.</div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">WM-020</div>
                    </div>
                    <div class="popup__price">
                        <div class="popup__price-key">Стоимость:</div>
                        <div class="popup__price-value">от 70 000 руб. за погонный метр</div>
                    </div>
                </div>
                <div class="poppup__desc-slide mix wardrobe wardrobe-modern">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Гардеробная в стиле модерн.</div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">WM-021</div>
                    </div>
                    <div class="popup__price">
                        <div class="popup__price-key">Стоимость:</div>
                        <div class="popup__price-value">от 70 000 руб. за погонный метр</div>
                    </div>
                </div>
                <div class="poppup__desc-slide mix wardrobe wardrobe-modern">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Гардеробная в стиле модерн.</div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">WM-022</div>
                    </div>
                    <div class="popup__price">
                        <div class="popup__price-key">Стоимость:</div>
                        <div class="popup__price-value">от 70 000 руб. за погонный метр</div>
                    </div>
                </div>
                <div class="poppup__desc-slide mix wardrobe wardrobe-modern">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Гардеробная в стиле модерн.</div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">WM-023</div>
                    </div>
                    <div class="popup__price">
                        <div class="popup__price-key">Стоимость:</div>
                        <div class="popup__price-value">от 70 000 руб. за погонный метр</div>
                    </div>
                </div>
                <div class="poppup__desc-slide mix wardrobe wardrobe-modern">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Гардеробная в стиле модерн.</div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">WM-024</div>
                    </div>
                    <div class="popup__price">
                        <div class="popup__price-key">Стоимость:</div>
                        <div class="popup__price-value">от 70 000 руб. за погонный метр</div>
                    </div>
                </div>
                <div class="poppup__desc-slide mix wardrobe wardrobe-modern">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Гардеробная в стиле модерн.</div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">WM-025</div>
                    </div>
                    <div class="popup__price">
                        <div class="popup__price-key">Стоимость:</div>
                        <div class="popup__price-value">от 70 000 руб. за погонный метр</div>
                    </div>
                </div>
                <div class="poppup__desc-slide mix wardrobe wardrobe-modern">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Гардеробная в стиле модерн.</div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">WM-028</div>
                    </div>
                    <div class="popup__price">
                        <div class="popup__price-key">Стоимость:</div>
                        <div class="popup__price-value">от 70 000 руб. за погонный метр</div>
                    </div>
                </div>
                <div class="poppup__desc-slide mix wardrobe wardrobe-modern">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Гардеробная в стиле модерн.</div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">WM-029</div>
                    </div>
                    <div class="popup__price">
                        <div class="popup__price-key">Стоимость:</div>
                        <div class="popup__price-value">от 70 000 руб. за погонный метр</div>
                    </div>
                </div>
                <div class="poppup__desc-slide mix wardrobe wardrobe-modern">
                    <div class="popup__collection">
                        <div class="popup__collection-key">Колекция:</div>
                        <div class="popup__collection-value">Soft</div>
                    </div>
                    <div class="popup__desc-key">Описание:</div>
                    <div class="popup__desc-value">Гардеробная SOFT в стиле модерн в насыщенном шоколадном цвете,
                        является продолжением спальни. А потому, полностью повторяет ее стиль. Продуманный до мелочей
                        эргономичный дизайн гардеробной позволяет максимально удобно и аккуратно разместить огромное
                        количество вещей. Узкие стойки делают поиск более удобным.
                    </div>
                    <div class="popup__cod">
                        <div class="popup__cod-key">Артикул:</div>
                        <div class="popup__cod-value">WM-008</div>
                    </div>
                    <div class="popup__price">
                        <div class="popup__price-key">Стоимость:</div>
                        <div class="popup__price-value">от 70 000 руб. за погонный метр</div>
                    </div>
                </div>
            </div>
        </div>
        <a class="popup__btn button js-value" data-form="Рассчитать стоимость (Гардеробные)" href="#order">Рассчитать
            стоимость</a>
        <div class="social">
            <ul>
                <li><a class="in" href="https://www.instagram.com/pr_mebel.ru/" target="_blank"></a></li>
                <li><a class="vk" href="https://vk.com/public185518769" target="_blank"></a></li>
                <li>
                    <a class="fb"
                       href="https://www.facebook.com/%D0%A7%D0%B0%D1%81%D1%82%D0%BD%D1%8B%D0%B9-%D0%BC%D0%B5%D0%B1%D0%B5%D0%BB%D1%8C%D0%B5%D1%80-108136607213942" target="_blank"></a></li>
            </ul>
        </div>
    </div>
</div>
